{
  "swagger": "2.0",
  "info": { "description": "租户中心项目接口文档", "title": "租户中心项目接口文档" },
  "host": "gatewaytest.wygtech.com:9080",
  "basePath": "/",
  "tags": [
    { "name": "ocr", "description": "Enterprise Credential License Controller" },
    { "name": "业务授权", "description": "Business Auth User Controller" },
    { "name": "个人主页相关", "description": "Person Page Home Controller" },
    { "name": "个人租户信息", "description": "Tenant Person Controller" },
    { "name": "个人租户资质", "description": "Tenant Person Credential Controller" },
    { "name": "个人认证", "description": "Person Certification Controller" },
    { "name": "企业主页相关", "description": "Enterprise Page Home Controller" },
    { "name": "企业内部应用配置绑定", "description": "Channel App Tenant Config Controller" },
    { "name": "企业发票认证", "description": "Enterprise Identification Ticket Controller" },
    { "name": "企业微信接口", "description": "Corp Wechat Controller" },
    { "name": "企业普通认证", "description": "Enterprise Identification Simple Controller" },
    { "name": "企业租户信息", "description": "Tenant Enterprise Controller" },
    { "name": "企业认证", "description": "Enterprise Identification Ticket Controller" },
    { "name": "企业认证中心", "description": "Enterprise Identification Controller" },
    { "name": "企业资质管理", "description": "Enterprise Credential Controller" },
    { "name": "发票抬头管理", "description": "Invoice Controller" },
    { "name": "员工管理", "description": "Employee Controller" },
    { "name": "字典信息", "description": "Dict Controller" },
    { "name": "客户端企业微信接口(需放行)", "description": "Client Corp Wechat Controller" },
    { "name": "导入导出员工相关", "description": "Import And Export Controller" },
    { "name": "岗位管理", "description": "Post Controller" },
    { "name": "开户信息相关接口", "description": "Enterprise Identification Wallet Controller" },
    { "name": "当前登录者-常用接口", "description": "Index Controller" },
    { "name": "收货地址设置", "description": "Tenant Delivery Address Controller" },
    { "name": "文件相关操作", "description": "File Handle Controller" },
    { "name": "日志相关", "description": "Log Controller" },
    { "name": "渠道员工操作", "description": "Channel Employee Controller" },
    { "name": "滑块验证码接口", "description": "Slider Image Controller" },
    { "name": "激活员工管理", "description": "Activate Controller" },
    { "name": "登录注册相关", "description": "Login Register Controller" },
    { "name": "租户操作", "description": "Tenant Controller" },
    { "name": "系统数据字典-查询有缓存", "description": "Sys Dict Controller" },
    { "name": "职务管理", "description": "Job Controller" },
    { "name": "菜单管理", "description": "Menu Controller" },
    {
      "name": "菜花钱包-企业开户信息",
      "description": "Enterprise Identification Wallet Controller"
    },
    { "name": "营业执照识别", "description": "Enterprise Credential License Controller" },
    { "name": "角色管理", "description": "Role Controller" },
    { "name": "账户操作-企业相关信息", "description": "Account Enterprise Controller" },
    { "name": "账户操作-账号相关", "description": "Account Controller" },
    { "name": "超级管理员管理", "description": "Super Controller" },
    { "name": "邀请成员管理相关", "description": "Invite Manage Controller" },
    { "name": "邀请成员邀请码相关", "description": "Invite Controller" },
    { "name": "部门-关联管理", "description": "Dept Link Enterprise Controller" },
    { "name": "部门管理", "description": "Dept Controller" },
    { "name": "钉钉接口", "description": "Corp Ding Ding Controller" },
    { "name": "钱包管理", "description": "Wallet Controller" }
  ],
  "paths": {
    "/api/account/acc/queryAcc": {
      "post": {
        "tags": ["账户操作-账号相关"],
        "summary": "账号信息",
        "operationId": "queryAccountInfoUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«QueryAccInfoResp»",
              "originalRef": "ApiResponse«QueryAccInfoResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/account/enterprise/addEnterprise": {
      "post": {
        "tags": ["账户操作-企业相关信息"],
        "summary": "加入公司",
        "operationId": "UserJoinEnterpriseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserJoinEnterpriseReq",
              "originalRef": "UserJoinEnterpriseReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«string»",
              "originalRef": "ApiResponse«string»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/account/enterprise/createEnterprise": {
      "post": {
        "tags": ["账户操作-企业相关信息"],
        "summary": "创建企业",
        "operationId": "createEnterpriseTenantDetailUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/创建企业", "originalRef": "创建企业" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/account/enterprise/listUserEnterprise": {
      "get": {
        "tags": ["账户操作-企业相关信息"],
        "summary": "用户是否加入/拥有企业",
        "operationId": "userHasEnterpriseUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      },
      "post": {
        "tags": ["账户操作-企业相关信息"],
        "summary": "查询用户企业列表",
        "operationId": "pageEnterpriseTenantDetailUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/企业查询0", "originalRef": "企业查询0" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«企业查询»»",
              "originalRef": "ApiResponse«List«企业查询»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/account/enterprise/pageAllEnterprise": {
      "post": {
        "tags": ["账户操作-企业相关信息"],
        "summary": "分页查询全部企业列表",
        "operationId": "pageEnterpriseTenantDetailUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/分页查询所有企业",
              "originalRef": "分页查询所有企业"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«企业查询»»",
              "originalRef": "ApiResponse«ComPage«企业查询»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/active/noActiveList": {
      "get": {
        "tags": ["激活员工管理"],
        "summary": "根据部门code查询未激活员工列表",
        "operationId": "countNoActiveUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptCode",
            "in": "query",
            "description": "deptCode",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«EmployeeNoActiveResp»",
              "originalRef": "ApiResponse«EmployeeNoActiveResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/active/sendActiveMessage": {
      "post": {
        "tags": ["激活员工管理"],
        "summary": "发送激活消息提示",
        "operationId": "sendActiveMessageUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendActiveMessageReq",
              "originalRef": "SendActiveMessageReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«SendActiveMessageResp»",
              "originalRef": "ApiResponse«SendActiveMessageResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/auth/enterprise/auth/org/infos": {
      "post": {
        "tags": ["业务授权"],
        "summary": "授权中心 查询当前租户的企业组织授权简略信息列表",
        "operationId": "queryOrgInfoByEnterpriseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnterpriseIdentificationReq",
              "originalRef": "EnterpriseIdentificationReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«AuthEnterpriseOrgInfoResp»»",
              "originalRef": "ApiResponse«List«AuthEnterpriseOrgInfoResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/auth/enterprise/auth/users": {
      "post": {
        "tags": ["业务授权"],
        "summary": "批量操作用户 授权/取消授权",
        "operationId": "authOrUnAuthUsersUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "authOrgUser",
            "description": "authOrgUser",
            "required": true,
            "schema": { "$ref": "#/definitions/AuthOrgUserReq", "originalRef": "AuthOrgUserReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/auth/enterprise/auth/users/auth-status": {
      "post": {
        "tags": ["业务授权"],
        "summary": "查询某业务类型下，员工是否有授权",
        "description": "返回有此业务授权的 员工ID列表",
        "operationId": "authOrUnAuthUsersUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "authOrgUser",
            "description": "authOrgUser",
            "required": true,
            "schema": {
              "$ref": "#/definitions/授权中心查询过滤条件",
              "originalRef": "授权中心查询过滤条件"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«long»»",
              "originalRef": "ApiResponse«List«long»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/channel/employee/checkBindEmp": {
      "get": {
        "tags": ["渠道员工操作"],
        "summary": "校验用户是否激活",
        "description": "是否激活，激活为true",
        "operationId": "checkBindEmpUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "channelCorpId",
            "in": "query",
            "description": "corpId",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelEmployeeId",
            "in": "query",
            "description": "渠道员工id",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelType",
            "in": "query",
            "description": "渠道类型",
            "required": true,
            "type": "string",
            "enum": ["CORP_WEIXIN", "DINGDING"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/channel/employee/checkPhoneEx": {
      "get": {
        "tags": ["渠道员工操作"],
        "summary": "校验用户是否注册",
        "description": "注册为true",
        "operationId": "checkPhoneExUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "mobile",
            "in": "query",
            "description": "mobile",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/channel/employee/comLoginAndBind": {
      "post": {
        "tags": ["渠道员工操作"],
        "summary": "登录绑定",
        "operationId": "comLoginAndBindUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "comLoginReq",
            "description": "comLoginReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelComLoginReq",
              "originalRef": "ChannelComLoginReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComLoginResp»",
              "originalRef": "ApiResponse«ComLoginResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/channel/employee/getChannelAdminAndBind": {
      "get": {
        "tags": ["渠道员工操作"],
        "summary": "获取企业管理员与绑定信息",
        "operationId": "getChannelAdminAndBindUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "channelCorpId",
            "in": "query",
            "description": "corpId",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelEmployeeId",
            "in": "query",
            "description": "渠道员工id",
            "required": true,
            "type": "string"
          },
          {
            "name": "channelType",
            "in": "query",
            "description": "渠道类型",
            "required": true,
            "type": "string",
            "enum": ["CORP_WEIXIN", "DINGDING"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«渠道企业管理员与绑定情况»",
              "originalRef": "ApiResponse«渠道企业管理员与绑定情况»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/channel/tenantConfig/add": {
      "post": {
        "tags": ["企业内部应用配置绑定"],
        "summary": "新增内部绑定",
        "operationId": "addUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "tenantConfigAddReq",
            "description": "tenantConfigAddReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelAppTenantConfigAddReq",
              "originalRef": "ChannelAppTenantConfigAddReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/channel/tenantConfig/detail": {
      "get": {
        "tags": ["企业内部应用配置绑定"],
        "summary": "绑定详情",
        "operationId": "detailByIdUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "channelType",
            "in": "query",
            "description": "channelType",
            "required": true,
            "type": "string"
          },
          {
            "name": "tenantId",
            "in": "query",
            "description": "tenantId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ChannelAppTenantConfigResp»",
              "originalRef": "ApiResponse«ChannelAppTenantConfigResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/channel/tenantConfig/update": {
      "post": {
        "tags": ["企业内部应用配置绑定"],
        "summary": "修改内部绑定",
        "operationId": "updateUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "tenantConfigUpReq",
            "description": "tenantConfigUpReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelAppTenantConfigUpReq",
              "originalRef": "ChannelAppTenantConfigUpReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/client/corpWechat/authUser": {
      "post": {
        "tags": ["客户端企业微信接口(需放行)"],
        "summary": "获取渠道用户信息",
        "operationId": "getCustomerCodeFromCahnnelUserUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "authReq",
            "description": "authReq",
            "required": true,
            "schema": { "$ref": "#/definitions/授权入参", "originalRef": "授权入参" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ChannelUserResp»",
              "originalRef": "ApiResponse«ChannelUserResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/client/corpWechat/oauth2": {
      "post": {
        "tags": ["客户端企业微信接口(需放行)"],
        "summary": "用户登陆授权链接",
        "operationId": "getOauth2UrlUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "authReq",
            "description": "authReq",
            "required": true,
            "schema": { "$ref": "#/definitions/授权入参", "originalRef": "授权入参" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CorpWechatAuthUrlResp»",
              "originalRef": "ApiResponse«CorpWechatAuthUrlResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/corpWechat/appAuthLink": {
      "get": {
        "tags": ["企业微信接口"],
        "summary": "获取应用授权链接",
        "operationId": "getAppAuthUrlUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CorpWechatAuthUrlResp»",
              "originalRef": "ApiResponse«CorpWechatAuthUrlResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/corpWechat/authUser": {
      "post": {
        "tags": ["企业微信接口"],
        "summary": "获取渠道用户信息",
        "operationId": "getCustomerCodeFromCahnnelUserUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "authReq",
            "description": "authReq",
            "required": true,
            "schema": { "$ref": "#/definitions/授权入参", "originalRef": "授权入参" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ChannelUserResp»",
              "originalRef": "ApiResponse«ChannelUserResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/corpWechat/initAgent": {
      "post": {
        "tags": ["企业微信接口"],
        "summary": "初始化企微agent_config",
        "operationId": "initAgentConfigUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitAgengConfigReq",
              "originalRef": "InitAgengConfigReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«AgentConfigResp»",
              "originalRef": "ApiResponse«AgentConfigResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/corpWechat/oauth2": {
      "post": {
        "tags": ["企业微信接口"],
        "summary": "用户登陆授权链接",
        "operationId": "getOauth2UrlUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "authReq",
            "description": "authReq",
            "required": true,
            "schema": { "$ref": "#/definitions/授权入参", "originalRef": "授权入参" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CorpWechatAuthUrlResp»",
              "originalRef": "ApiResponse«CorpWechatAuthUrlResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/corpWechat/syncDoc": {
      "get": {
        "tags": ["企业微信接口"],
        "summary": "同步组织架构",
        "operationId": "syncDocUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/corpWechat/webLogin/authUser": {
      "post": {
        "tags": ["企业微信接口"],
        "summary": "webLogin获取企业微信用户信息",
        "operationId": "getWebLoginAuthUserUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "authReq",
            "description": "authReq",
            "required": true,
            "schema": { "$ref": "#/definitions/授权入参", "originalRef": "授权入参" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ChannelUserResp»",
              "originalRef": "ApiResponse«ChannelUserResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/corpWechat/webLogin/oauth2": {
      "post": {
        "tags": ["企业微信接口"],
        "summary": "webLogin用户登陆授权链接",
        "operationId": "getwebLoginOauth2UrlUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "authReq",
            "description": "authReq",
            "required": true,
            "schema": { "$ref": "#/definitions/授权入参", "originalRef": "授权入参" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CorpWechatAuthUrlResp»",
              "originalRef": "ApiResponse«CorpWechatAuthUrlResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/deliverAddress/addAddress": {
      "post": {
        "tags": ["收货地址设置"],
        "summary": "添加地址",
        "operationId": "addAddressUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/租户收货地址添加",
              "originalRef": "租户收货地址添加"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/deliverAddress/checkDefaultAddress": {
      "post": {
        "tags": ["收货地址设置"],
        "summary": "设置默认地址",
        "operationId": "checkDefaultUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/切换默认地址", "originalRef": "切换默认地址" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/deliverAddress/deleteAddress/{id}": {
      "get": {
        "tags": ["收货地址设置"],
        "summary": "删除地址",
        "operationId": "deleteAddressUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/deliverAddress/pageAddress": {
      "post": {
        "tags": ["收货地址设置"],
        "summary": "分页查询地址",
        "description": "默认地址最靠前 其他的以创建时间倒序排序",
        "operationId": "pageAddressUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/BasePageReq", "originalRef": "BasePageReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«租户收货地址添加»»",
              "originalRef": "ApiResponse«ComPage«租户收货地址添加»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/deliverAddress/updateAddress": {
      "post": {
        "tags": ["收货地址设置"],
        "summary": "修改地址",
        "operationId": "updateAddressUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/租户收货地址添加",
              "originalRef": "租户收货地址添加"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/addDept": {
      "post": {
        "tags": ["部门管理"],
        "summary": "新增部门",
        "operationId": "addDeptUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "dept",
            "description": "dept",
            "required": true,
            "schema": { "$ref": "#/definitions/DeptAddReq", "originalRef": "DeptAddReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/delDept/{deptId}": {
      "get": {
        "tags": ["部门管理"],
        "summary": "删除部门",
        "operationId": "delDeptUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "path",
            "description": "deptId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/deptTree": {
      "get": {
        "tags": ["部门管理"],
        "summary": "获取部门列表[树列表：选择器]",
        "operationId": "deptTreeUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "query",
            "description": "部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "deptName",
            "in": "query",
            "description": "部门名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "leaderEmployeeId",
            "in": "query",
            "description": "负责人id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "父部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "scaleType",
            "in": "query",
            "description": "部门类型,部门：DEPT, 公司:COMPANY",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "部门状态（NORMAL正常 STOP停用）",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«Tree«long»»»",
              "originalRef": "ApiResponse«List«Tree«long»»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/deptTreeComplex": {
      "get": {
        "tags": ["部门管理"],
        "summary": "获取部门列表[树列表：复杂数据]",
        "operationId": "deptTreeComplexUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "query",
            "description": "部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "deptName",
            "in": "query",
            "description": "部门名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "leaderEmployeeId",
            "in": "query",
            "description": "负责人id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "父部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "scaleType",
            "in": "query",
            "description": "部门类型,部门：DEPT, 公司:COMPANY",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "部门状态（NORMAL正常 STOP停用）",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«Tree«long»»»",
              "originalRef": "ApiResponse«List«Tree«long»»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/deptTreeInfo": {
      "get": {
        "tags": ["部门管理"],
        "summary": "获取部门列表[树列表：简单数据]",
        "operationId": "deptTreeInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "query",
            "description": "部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "deptName",
            "in": "query",
            "description": "部门名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "leaderEmployeeId",
            "in": "query",
            "description": "负责人id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "父部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "scaleType",
            "in": "query",
            "description": "部门类型,部门：DEPT, 公司:COMPANY",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "部门状态（NORMAL正常 STOP停用）",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«Tree«long»»»",
              "originalRef": "ApiResponse«List«Tree«long»»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/editDept": {
      "post": {
        "tags": ["部门管理"],
        "summary": "修改部门",
        "operationId": "editDeptUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "dept",
            "description": "dept",
            "required": true,
            "schema": { "$ref": "#/definitions/DeptUpReq", "originalRef": "DeptUpReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/get/{deptId}": {
      "get": {
        "tags": ["部门管理"],
        "summary": "根据部们id获取详细信息",
        "operationId": "getInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "path",
            "description": "deptId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«DeptDetailResp»",
              "originalRef": "ApiResponse«DeptDetailResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/list": {
      "get": {
        "tags": ["部门管理"],
        "summary": "获取部门列表[列表平铺形式]",
        "operationId": "listUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "query",
            "description": "部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "deptName",
            "in": "query",
            "description": "部门名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "leaderEmployeeId",
            "in": "query",
            "description": "负责人id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "父部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "scaleType",
            "in": "query",
            "description": "部门类型,部门：DEPT, 公司:COMPANY",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "部门状态（NORMAL正常 STOP停用）",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«DeptResp»»",
              "originalRef": "ApiResponse«List«DeptResp»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/list/excludeChild/{deptId}": {
      "get": {
        "tags": ["部门管理"],
        "summary": "查询部门列表（排除当前节点以及子节点）[列表平铺形式]",
        "operationId": "excludeChildUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "path",
            "description": "deptId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«DeptResp»»",
              "originalRef": "ApiResponse«List«DeptResp»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/queryEmployeeByDeptId": {
      "get": {
        "tags": ["部门管理"],
        "summary": "根据部门id搜索员工",
        "operationId": "queryEmployeeByDeptIdUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "query",
            "description": "deptId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«SelectorEmployeeResp»»",
              "originalRef": "ApiResponse«List«SelectorEmployeeResp»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/queryEmployeeByPhoneOrName": {
      "get": {
        "tags": ["部门管理"],
        "summary": "根据名称或手机号搜索员工",
        "operationId": "queryEmployeeByPhoneOrNameUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "query",
            "description": "deptId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "phoneOrName",
            "in": "query",
            "description": "phoneOrName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«SelectorEmployeeResp»»",
              "originalRef": "ApiResponse«List«SelectorEmployeeResp»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/upDeptStatus": {
      "get": {
        "tags": ["部门管理"],
        "summary": "更新部门状态",
        "operationId": "upDeptStatusUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptId",
            "in": "query",
            "description": "deptId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dict/query/{type}": {
      "get": {
        "tags": ["字典信息"],
        "summary": "查询字典",
        "operationId": "queryDictUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "type",
            "required": true,
            "type": "string",
            "enum": ["P_CERTIFICATE", "P_REGISTER_MAJOR"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«string»»",
              "originalRef": "ApiResponse«List«string»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dingding/bindDingTenantAndUser": {
      "post": {
        "tags": ["钉钉接口"],
        "summary": "钉钉绑定",
        "operationId": "bindDingTenantAndUserUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "dingTenantUserReq",
            "description": "dingTenantUserReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/钉钉渠道租户绑定入参",
              "originalRef": "钉钉渠道租户绑定入参"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CorpDingTenantUserResp»",
              "originalRef": "ApiResponse«CorpDingTenantUserResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dingding/createAndBindDingTenantAndUser": {
      "post": {
        "tags": ["钉钉接口"],
        "summary": "钉钉创建并绑定",
        "operationId": "createAndBindDingTenantAndUserUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "dingTenantUserReq",
            "description": "dingTenantUserReq",
            "required": true,
            "schema": { "$ref": "#/definitions/钉钉绑定", "originalRef": "钉钉绑定" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CorpDingTenantUserResp»",
              "originalRef": "ApiResponse«CorpDingTenantUserResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dingding/syncDataFromDing": {
      "post": {
        "tags": ["钉钉接口"],
        "summary": "同步钉钉组织架构数据",
        "operationId": "syncDataFromDingUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dingding/test": {
      "post": {
        "tags": ["钉钉接口"],
        "summary": "测试",
        "operationId": "testUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/employee/add": {
      "post": {
        "tags": ["员工管理"],
        "summary": "新增员工",
        "operationId": "addUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "employeeAddReq",
            "description": "employeeAddReq",
            "required": true,
            "schema": { "$ref": "#/definitions/EmployeeAddReq", "originalRef": "EmployeeAddReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/employee/changeStatus": {
      "get": {
        "tags": ["员工管理"],
        "summary": "状态修改",
        "operationId": "changeStatusUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "employeeId",
            "in": "query",
            "description": "employeeId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "msg",
            "in": "query",
            "description": "msg",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": true,
            "type": "string",
            "enum": ["FORBID", "NONACTIVATED", "NORMAL"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/employee/del/{employeeIds}": {
      "get": {
        "tags": ["员工管理"],
        "summary": "删除员工",
        "operationId": "removeUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "employeeIds",
            "in": "path",
            "description": "employeeIds",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/employee/deptTreeCount": {
      "get": {
        "tags": ["员工管理"],
        "summary": "获取部门树_全部部门",
        "operationId": "deptTreeCountUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "deptName",
            "in": "query",
            "description": "deptName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«Tree«long»»»",
              "originalRef": "ApiResponse«List«Tree«long»»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/employee/edit": {
      "post": {
        "tags": ["员工管理"],
        "summary": "修改员工",
        "operationId": "editUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "description": "user",
            "required": true,
            "schema": { "$ref": "#/definitions/EmployeeUpReq", "originalRef": "EmployeeUpReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/employee/getEmployeeByEmployeeId": {
      "get": {
        "tags": ["员工管理"],
        "summary": "员工详细信息",
        "operationId": "getEmployeeByEmployeeIdUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "employeeId",
            "in": "query",
            "description": "employeeId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«EmployeeAllInfoResp»",
              "originalRef": "ApiResponse«EmployeeAllInfoResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/employee/myDeptTreeCount": {
      "get": {
        "tags": ["员工管理"],
        "summary": "获取部门树_我的部门",
        "operationId": "myDeptTreeCountUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«Tree«long»»»",
              "originalRef": "ApiResponse«List«Tree«long»»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/employee/pageList": {
      "get": {
        "tags": ["员工管理"],
        "summary": "员工列表[复杂数据]",
        "operationId": "pageComplexListUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "certType",
            "in": "query",
            "description": "授权-业务类型",
            "required": false,
            "type": "string",
            "enum": ["AL_TICKET", "COMMON", "ESIGN_ALL", "ESIGN_ONLY_SIGN", "WALLET"]
          },
          {
            "name": "deptCode",
            "in": "query",
            "description": "部门编码",
            "required": false,
            "type": "string"
          },
          {
            "name": "deptId",
            "in": "query",
            "description": "部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "deptName",
            "in": "query",
            "description": "部门",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "员工邮箱",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobCode",
            "in": "query",
            "description": "职务",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobId",
            "in": "query",
            "description": "职务id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "jobName",
            "in": "query",
            "description": "职务",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "postCode",
            "in": "query",
            "description": "岗位",
            "required": false,
            "type": "string"
          },
          {
            "name": "postId",
            "in": "query",
            "description": "岗位id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "postName",
            "in": "query",
            "description": "岗位",
            "required": false,
            "type": "string"
          },
          {
            "name": "sex",
            "in": "query",
            "description": "性别,man:表示男性,woman表示女性，unknown未知",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "账号状态：NONACTIVATED未激活,NORMAL正常,FORBID禁用",
            "required": false,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "员工姓名",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«EmployeeComplexResp»»",
              "originalRef": "ApiResponse«ComPage«EmployeeComplexResp»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/employee/pageSelectList": {
      "get": {
        "tags": ["员工管理"],
        "summary": "员工列表[选择器]",
        "operationId": "pageSelectListUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "certType",
            "in": "query",
            "description": "授权-业务类型",
            "required": false,
            "type": "string",
            "enum": ["AL_TICKET", "COMMON", "ESIGN_ALL", "ESIGN_ONLY_SIGN", "WALLET"]
          },
          {
            "name": "deptCode",
            "in": "query",
            "description": "部门编码",
            "required": false,
            "type": "string"
          },
          {
            "name": "deptId",
            "in": "query",
            "description": "部门id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "deptName",
            "in": "query",
            "description": "部门",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "员工邮箱",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobCode",
            "in": "query",
            "description": "职务",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobId",
            "in": "query",
            "description": "职务id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "jobName",
            "in": "query",
            "description": "职务",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobile",
            "in": "query",
            "description": "手机号",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "postCode",
            "in": "query",
            "description": "岗位",
            "required": false,
            "type": "string"
          },
          {
            "name": "postId",
            "in": "query",
            "description": "岗位id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "postName",
            "in": "query",
            "description": "岗位",
            "required": false,
            "type": "string"
          },
          {
            "name": "sex",
            "in": "query",
            "description": "性别,man:表示男性,woman表示女性，unknown未知",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "账号状态：NONACTIVATED未激活,NORMAL正常,FORBID禁用",
            "required": false,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "员工姓名",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«EmployeeComplexResp»»",
              "originalRef": "ApiResponse«ComPage«EmployeeComplexResp»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterCredential/add": {
      "post": {
        "tags": ["企业资质管理"],
        "summary": "添加企业资质",
        "operationId": "addEnterpriseCredentialUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOrUpdateCredentialReq",
              "originalRef": "AddOrUpdateCredentialReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterCredential/del": {
      "get": {
        "tags": ["企业资质管理"],
        "summary": "删除企业资质",
        "operationId": "deleteEnterpriseCredentialUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterCredential/getCodeList": {
      "get": {
        "tags": ["企业资质管理"],
        "summary": "资质级联",
        "operationId": "getCodeListUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«JSONArray»",
              "originalRef": "ApiResponse«JSONArray»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterCredential/page": {
      "post": {
        "tags": ["企业资质管理"],
        "summary": "查询企业资质",
        "operationId": "pageEnterpriseCredentialUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PageEnterpriseCredentialReq",
              "originalRef": "PageEnterpriseCredentialReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«EnterpriseCredentialResp»»",
              "originalRef": "ApiResponse«ComPage«EnterpriseCredentialResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterCredential/update": {
      "post": {
        "tags": ["企业资质管理"],
        "summary": "修改企业资质",
        "operationId": "updateEnterpriseCredentialUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOrUpdateCredentialReq",
              "originalRef": "AddOrUpdateCredentialReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterCredential/v1/ocr/businessLicense": {
      "post": {
        "tags": ["ocr", "营业执照识别"],
        "summary": "ocr营业执照识别",
        "description": "先调用api/file/upload上传文件后获得OSSUrl,传入文件URL",
        "operationId": "ocrBusinessLicenseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/OcrImageReq", "originalRef": "OcrImageReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«OcrBusinessLicenseBO»",
              "originalRef": "ApiResponse«OcrBusinessLicenseBO»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identification/enterprise/v1/page/enterpriseName": {
      "post": {
        "tags": ["开户信息相关接口", "菜花钱包-企业开户信息"],
        "summary": "企业开户-查询母公司-分页列表",
        "description": "（查询母公司的菜花开户录入信息列表，使用企业名称过滤查询-效率不太高,要不要添加法人姓名 企业社会信用代码过滤呢？暂时不.返回企业名称、法人名称、社会统一信用代码",
        "operationId": "pageEnterpriseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "enterpriseName",
            "in": "query",
            "description": "过滤条件-母公司企业名称",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "page",
            "description": "page",
            "required": true,
            "schema": { "$ref": "#/definitions/ComPage", "originalRef": "ComPage" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Page«企业开户信息»»",
              "originalRef": "ApiResponse«Page«企业开户信息»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identification/inner/enterprise/v1/{enterpriseId}/openAcct/callback": {
      "put": {
        "tags": ["开户信息相关接口", "菜花钱包-企业开户信息"],
        "summary": "企业开户-（仅测试使用）认证结果通知",
        "description": "本地更新认证记录，认证通过不允许用户修改和删除。认证不通过不允许更改已通过的，不通过更新认证状态为不通过状态",
        "operationId": "callbackEnterpriseUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "description": "企业Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "flag",
            "in": "query",
            "description": "认证结果 成功或失败",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "in": "body",
            "name": "innerRpc",
            "description": "innerRpc",
            "required": true,
            "schema": { "$ref": "#/definitions/InnerRpc", "originalRef": "InnerRpc" }
          },
          {
            "name": "msg",
            "in": "query",
            "description": "提示信息（不宜过长",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identification/inner/person/v1/{userId}/openAcct/callback": {
      "put": {
        "tags": ["个人开户信息", "开户信息相关接口", "菜花钱包-企业开户信息"],
        "summary": "个人开户-(仅测试使用)认证结果通知",
        "description": "本地更新认证记录，认证通过不允许用户修改和删除。认证不通过不允许更改已通过的，不通过更新认证状态为不通过状态",
        "operationId": "callbackPersonalUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "flag",
            "in": "query",
            "description": "认证结果 成功或失败",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "in": "body",
            "name": "innerRpc",
            "description": "innerRpc",
            "required": true,
            "schema": { "$ref": "#/definitions/InnerRpc", "originalRef": "InnerRpc" }
          },
          {
            "name": "msg",
            "in": "query",
            "description": "提示信息（不宜过长",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "用户ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identification/v1/openAcct": {
      "get": {
        "tags": ["企业开户信息", "开户信息相关接口", "菜花钱包-企业开户信息"],
        "summary": "企业的开户信息-查询",
        "description": "企业开户信息与企业一对一关联 传入租户ID和企业ID 加上当前登录用户的ID进行校验后，返回企业开户信息（如果有且分段录入已经完成），如果没有则返回404,如有缓存30+（1-10）秒",
        "operationId": "queryEnterpriseOpenAcctUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "query",
            "description": "企业ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«企业开户信息»",
              "originalRef": "ApiResponse«企业开户信息»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      },
      "delete": {
        "tags": ["企业开户信息", "开户信息相关接口", "菜花钱包-企业开户信息"],
        "summary": "企业的开户信息-删除 逻辑删除",
        "description": "用户删除自己的企业开户信息 暂时没用",
        "operationId": "deleteEnterpriseOpenAcctUsingDELETE",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "enterpriseOpenAcctId",
            "in": "query",
            "description": "企业的开户信息ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "204": { "description": "No Content" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identification/v1/simple/auth": {
      "get": {
        "tags": ["企业普通认证", "企业认证"],
        "summary": "企业的普通认证-查询反显",
        "description": "如果有录入过信息，也会反显",
        "operationId": "querySimpleAuthUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "query",
            "description": "企业ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«企业-简单认证»",
              "originalRef": "ApiResponse«企业-简单认证»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      },
      "post": {
        "tags": ["企业普通认证", "企业认证"],
        "summary": "企业的普通认证-覆盖写入",
        "description": "存在历史录入则全量覆盖写入，不存在则新增。历史记录状态为认证中不允许修改.营业执照和法人信息等不能为空。如果选择了组织类别，则授权书和管理员信息不能为空",
        "operationId": "addSimpleAuthUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "obj",
            "description": "obj",
            "required": true,
            "schema": { "$ref": "#/definitions/企业-简单认证", "originalRef": "企业-简单认证" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identification/v1/ticket/auth": {
      "post": {
        "tags": ["企业发票认证", "企业认证"],
        "summary": "企业的发票认证-录入发起（票据-智能票夹）",
        "description": "检查认证记录是否为认证中和已完成，只有未认证和认证失败的状态，可以重新录入发起认证。",
        "operationId": "addSimpleAuthUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "obj",
            "description": "obj",
            "required": true,
            "schema": {
              "$ref": "#/definitions/企业-智能票夹认证",
              "originalRef": "企业-智能票夹认证"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identification/v1/{enterpriseId}/openAcct/append": {
      "post": {
        "tags": ["企业开户信息", "开户信息相关接口", "菜花钱包-企业开户信息"],
        "summary": "企业的开户信息-新增(分段)",
        "description": "后端自动获取当前用户ID,重复上传则进行覆盖更新。（已经录入完成的企业开户信息，不会改变步骤值，保持为0。已认证通过的不允许修改",
        "operationId": "appendEnterpriseOpenAcctUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "description": "企业ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "enterpriseOpenAcctVo",
            "description": "enterpriseOpenAcctVo",
            "required": true,
            "schema": { "$ref": "#/definitions/企业开户信息", "originalRef": "企业开户信息" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«企业开户信息»",
              "originalRef": "ApiResponse«企业开户信息»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identification/v1/{enterpriseId}/openAcct/execute": {
      "put": {
        "tags": ["开户信息相关接口", "菜花钱包-企业开户信息"],
        "summary": "企业开户-认证开始",
        "description": "将用户的企业开户信息状态更新为 认证中-锁定不允许用户修改和删除）",
        "operationId": "executeEnterpriseUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "description": "企业Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identificationcenter/addEnterprise": {
      "get": {
        "tags": ["企业认证中心"],
        "summary": "是否可以操作切换主企业",
        "operationId": "judgeSwitchEnterpriseLimitUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«JudgeSwitchEnterpriseLimitResp»",
              "originalRef": "ApiResponse«JudgeSwitchEnterpriseLimitResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      },
      "post": {
        "tags": ["企业认证中心"],
        "summary": "新增公司",
        "operationId": "addEnterpriseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/创建企业", "originalRef": "创建企业" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«string»",
              "originalRef": "ApiResponse«string»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identificationcenter/delEnterprise": {
      "get": {
        "tags": ["企业认证中心"],
        "summary": "删除主企业",
        "operationId": "delEnterpriseUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«string»",
              "originalRef": "ApiResponse«string»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identificationcenter/listEnterprise": {
      "post": {
        "tags": ["企业认证中心"],
        "summary": "查询租户企业列表",
        "operationId": "listEnterpriseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnterpriseIdentificationReq",
              "originalRef": "EnterpriseIdentificationReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«EnterpriseIdentificationResp»»",
              "originalRef": "ApiResponse«ComPage«EnterpriseIdentificationResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identificationcenter/switchMainEnterprise": {
      "get": {
        "tags": ["企业认证中心"],
        "summary": "切换主企业",
        "operationId": "switchMainEnterpriseUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«string»",
              "originalRef": "ApiResponse«string»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/identificationcenter/{enterpriseId}/mainAuthInfo": {
      "get": {
        "tags": ["企业认证中心"],
        "summary": "查询企业认证主体信息-用于新的认证时候进行反显",
        "description": "路径中传入 enterpriseId，查询企业主体信息中，企业名称、营业执照、法人信息、开户行等。如果新认证记录查询为空，则是新增认证记录，填入此处可能有的信息。如果认证记录存在，则此接口不需要调用",
        "operationId": "queryMainAuthInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "description": "enterpriseId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«企业主体信息»",
              "originalRef": "ApiResponse«企业主体信息»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/link/dept": {
      "post": {
        "tags": ["部门-关联管理"],
        "summary": "覆写-企业关联组织",
        "description": "组织 必须为企业型部门，组织必须没有关联其他企业。关联关系一对一。如果企业已经绑定组织，则提醒且需要二次确认",
        "operationId": "addOrOverLinkUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "deptLinkEnterpriseReq",
            "description": "deptLinkEnterpriseReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeptLinkEnterpriseReq",
              "originalRef": "DeptLinkEnterpriseReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/pageHome/claim/{companyId}": {
      "get": {
        "tags": ["企业主页相关"],
        "summary": "认领企业信息",
        "operationId": "claimUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "companyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/pageHome/exclude/{claimId}": {
      "get": {
        "tags": ["企业主页相关"],
        "summary": "排除企业信息",
        "operationId": "excludeUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "description": "claimId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/pageHome/judge": {
      "get": {
        "tags": ["企业主页相关"],
        "summary": "查询认领操作结果",
        "operationId": "judgeIsClaimUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«QueryJudgeClaimResp»",
              "originalRef": "ApiResponse«QueryJudgeClaimResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/pageHome/query": {
      "get": {
        "tags": ["企业主页相关"],
        "summary": "查询企业信息",
        "operationId": "queryUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«QueryEnterprisePageHomeResp»",
              "originalRef": "ApiResponse«QueryEnterprisePageHomeResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/enterprise/{id}/link/dept": {
      "get": {
        "tags": ["部门-关联管理"],
        "summary": "查询-企业关联的组织信息",
        "description": "传入 企业ID，查询返回关联的组织ID和组织名称。有关联的企业不允许删除",
        "operationId": "queryLinkDeptUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "description": "enterpriseId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«DeptLinkEnterpriseResp»",
              "originalRef": "ApiResponse«DeptLinkEnterpriseResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/excel/export": {
      "post": {
        "tags": ["导入导出员工相关"],
        "summary": "导出员工",
        "operationId": "exportEmployeeUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "deptIds",
[...]
