{
  "swagger": "2.0",
  "info": { "description": "种子项目接口文档", "title": "种子项目接口文档" },
  "host": "gatewaytest.wygtech.com:9080",
  "basePath": "/",
  "tags": [
    { "name": "OSS文件相关接口", "description": "File Controller" },
    { "name": "admin-controller", "description": "Admin Controller" },
    { "name": "二维码", "description": "Qr Code Inner Controller" },
    { "name": "会话接口", "description": "Chat Inner Controller" },
    { "name": "内部接口-使用租户中心", "description": "Base Platform Inner Controller" },
    { "name": "内部接口-通讯录", "description": "Address Book Inner Controller" },
    { "name": "好友接口", "description": "Friendship Controller" },
    { "name": "手机号", "description": "Phone Inner Controller" },
    { "name": "架构接口", "description": "Dept Controller" },
    { "name": "消息接口", "description": "Message Inner Controller" },
    { "name": "消息用户接口", "description": "User Inner Controller" },
    { "name": "版本控制器", "description": "App Version Inner Controller" },
    { "name": "特别关注接口", "description": "User Attention Inner Controller" },
    { "name": "登录接口", "description": "Login Controller" },
    { "name": "群成员接口", "description": "Group Member Controller" },
    { "name": "群接口", "description": "Group Inner Controller" },
    { "name": "请求回复消息", "description": "Request Msg Inner Controller" },
    { "name": "转发", "description": "Forward Inner Controller" },
    { "name": "通用接口", "description": "Common Inner Controller" },
    { "name": "通讯录", "description": "Address Book Controller" },
    { "name": "面对面建群[二期]", "description": "Group F 2 F Inner Controller" },
    { "name": "验证接口", "description": "Request Inner Controller" }
  ],
  "paths": {
    "/addressBook/listTenantInfo": {
      "post": {
        "tags": ["内部接口-通讯录"],
        "summary": "获取租户列表",
        "operationId": "listTenantInfoUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "query", "description": "channel", "required": true, "type": "string" },
          {
            "name": "imUserId",
            "in": "query",
            "description": "imUserId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«AddressBookTenantInfoResp»»",
              "originalRef": "ApiResponse«List«AddressBookTenantInfoResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/addressBook/listTenantInfo": {
      "get": {
        "tags": ["通讯录"],
        "summary": "获取用户(正常状态)租户信息列表",
        "operationId": "listTenantInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«AddressBookTenantInfoResp»»",
              "originalRef": "ApiResponse«List«AddressBookTenantInfoResp»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/admin/getAvatar": {
      "get": {
        "tags": ["admin-controller"],
        "summary": "isEmpty=false会重新生成群头像",
        "operationId": "getAvatarUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "isEmpty",
            "in": "query",
            "description": "isEmpty",
            "required": false,
            "type": "boolean",
            "default": true
          },
          { "name": "type", "in": "query", "description": "type:USER/GROUP", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/admin/putAppVersionFile": {
      "post": {
        "tags": ["admin-controller"],
        "summary": "上传版本",
        "operationId": "putAppVersionFileUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "appType", "in": "query", "description": "应用类型", "required": true, "type": "string" },
          {
            "name": "businessId",
            "in": "query",
            "description": "业务id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          { "name": "isForceUpdate", "in": "query", "description": "强制更新", "required": true, "type": "boolean" },
          {
            "name": "originalFileName",
            "in": "query",
            "description": "原始文件名",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "用户头像USER_AVATAR 群头像GROUP_AVATAR 消息文件MSG 卡片文件CARD_MSG 转码文件TRANS_MSG",
            "required": false,
            "type": "string"
          },
          { "name": "versionDesc", "in": "query", "description": "版本描述", "required": false, "type": "string" },
          { "name": "versionName", "in": "query", "description": "版本名称", "required": true, "type": "string" },
          { "name": "versionNum", "in": "query", "description": "版本号", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«PutFileResp»", "originalRef": "ApiResponse«PutFileResp»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/appVersion/list": {
      "get": {
        "tags": ["版本控制器"],
        "summary": "获取当前版本后的版本列表",
        "operationId": "listNewVersionUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "appVersion", "in": "header", "description": "appVersion", "required": true, "type": "string" },
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«List«版本»»", "originalRef": "ApiResponse«List«版本»»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/chat/clearChat": {
      "post": {
        "tags": ["会话接口"],
        "summary": "清空会话",
        "operationId": "clearUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/清空消息记录", "originalRef": "清空消息记录" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«object»", "originalRef": "ApiResponse«object»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/chat/create": {
      "post": {
        "tags": ["会话接口"],
        "summary": "创建会话/发起聊天/进入群聊",
        "operationId": "createUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/创建会话", "originalRef": "创建会话" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«object»", "originalRef": "ApiResponse«object»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/chat/oftenContact": {
      "post": {
        "tags": ["会话接口"],
        "summary": "常用联系人",
        "operationId": "oftenContactUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/ContactReq", "originalRef": "ContactReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«ContactResp»»",
              "originalRef": "ApiResponse«ComPage«ContactResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/chat/pageList": {
      "post": {
        "tags": ["会话接口"],
        "summary": "会话列表",
        "operationId": "pageListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/会话列表", "originalRef": "会话列表" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«会话列表响应»»",
              "originalRef": "ApiResponse«ComPage«会话列表响应»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/chat/recentContact": {
      "post": {
        "tags": ["会话接口"],
        "summary": "最近联系人",
        "operationId": "recentContactUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/ContactReq", "originalRef": "ContactReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«ContactResp»»",
              "originalRef": "ApiResponse«ComPage«ContactResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/chat/unreadList": {
      "post": {
        "tags": ["会话接口"],
        "summary": "会话列表",
        "operationId": "unreadListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/会话列表", "originalRef": "会话列表" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«会话列表响应»»",
              "originalRef": "ApiResponse«ComPage«会话列表响应»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/common/bind": {
      "post": {
        "tags": ["通用接口"],
        "summary": "绑定设备",
        "operationId": "bindUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/UserBindReq", "originalRef": "UserBindReq" }
          },
          { "name": "satoken", "in": "header", "description": "satoken", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«UserBindResp»", "originalRef": "ApiResponse«UserBindResp»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/common/search": {
      "post": {
        "tags": ["通用接口"],
        "summary": "聚合搜索",
        "operationId": "searchUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/SearchReq", "originalRef": "SearchReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Map«string,SearchMapResp»»",
              "originalRef": "ApiResponse«Map«string,SearchMapResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/common/search/type": {
      "post": {
        "tags": ["通用接口"],
        "summary": "按照类型搜索",
        "operationId": "searchByTypeUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/CommonSearchReq", "originalRef": "CommonSearchReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«CommonSearchResp»»",
              "originalRef": "ApiResponse«ComPage«CommonSearchResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/common/searchBeforeAddFriend": {
      "post": {
        "tags": ["通用接口"],
        "summary": "搜索人员添加好友前",
        "operationId": "searchBeforeAddFriendUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/SearchBeforeAddFriendReq", "originalRef": "SearchBeforeAddFriendReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«SearchBeforeAddFriendResp»»",
              "originalRef": "ApiResponse«ComPage«SearchBeforeAddFriendResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/common/switchChannel": {
      "post": {
        "tags": ["通用接口"],
        "summary": "绑定设备",
        "operationId": "switchChannelUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/SwitchUserReq", "originalRef": "SwitchUserReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«UserBindResp»", "originalRef": "ApiResponse«UserBindResp»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/common/switchUserList": {
      "post": {
        "tags": ["通用接口"],
        "summary": "切换用户时用户列表",
        "operationId": "switchUserListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/SwitchUserReq", "originalRef": "SwitchUserReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«SwitchUserListResp»»",
              "originalRef": "ApiResponse«List«SwitchUserListResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/list": {
      "post": {
        "tags": ["架构接口"],
        "summary": "获取子部门列表+组织架构imgrouid",
        "operationId": "listUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/部门列表DeptListReq", "originalRef": "部门列表DeptListReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«部门信息DeptResp»»",
              "originalRef": "ApiResponse«List«部门信息DeptResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/userDeptList": {
      "post": {
        "tags": ["架构接口"],
        "summary": "获取用户的部门列表",
        "operationId": "userDeptListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/部门用户列表DeptListReq", "originalRef": "部门用户列表DeptListReq" }
          },
          { "name": "satoken", "in": "header", "description": "token", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«部门信息DeptResp»»",
              "originalRef": "ApiResponse«List«部门信息DeptResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/userListAllTenant": {
      "post": {
        "tags": ["架构接口"],
        "summary": "获取当前用户所有租户的人",
        "operationId": "userListAllTenantUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/用户所有租户UserListAllTenantReq",
              "originalRef": "用户所有租户UserListAllTenantReq"
            }
          },
          { "name": "satoken", "in": "header", "description": "satoken", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«UserListAllTenantResp»»",
              "originalRef": "ApiResponse«List«UserListAllTenantResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/dept/userPage": {
      "post": {
        "tags": ["架构接口"],
        "summary": "分页获取部门下的用户列表",
        "operationId": "userPageUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/部门用户分页UserPageReq", "originalRef": "部门用户分页UserPageReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«部门用户列表DeptUserResp»»",
              "originalRef": "ApiResponse«ComPage«部门用户列表DeptUserResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/file/putOssFile": {
      "post": {
        "tags": ["OSS文件相关接口"],
        "summary": "直接表单提交文件到oss,返回图片访问链接",
        "operationId": "putOssFileUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "businessId",
            "in": "query",
            "description": "业务id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "originalFileName",
            "in": "query",
            "description": "原始文件名",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "用户头像USER_AVATAR 群头像GROUP_AVATAR 消息文件MSG 卡片文件CARD_MSG 转码文件TRANS_MSG",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«PutFileResp»", "originalRef": "ApiResponse«PutFileResp»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/forward/checkAndCreate": {
      "post": {
        "tags": ["转发"],
        "summary": "转发 创建会话/发起聊天/进入群聊",
        "operationId": "checkAndCreateUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/创建会话", "originalRef": "创建会话" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«会话»", "originalRef": "ApiResponse«会话»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/forward/list": {
      "post": {
        "tags": ["转发"],
        "summary": "列表(仅5个)",
        "operationId": "listUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/ForwardListReq", "originalRef": "ForwardListReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«ForwardListResp»»",
              "originalRef": "ApiResponse«List«ForwardListResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/forward/search": {
      "post": {
        "tags": ["转发"],
        "summary": "转发搜索列表",
        "operationId": "searchUserUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/CommonSearchReq", "originalRef": "CommonSearchReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«CommonSearchResp»»",
              "originalRef": "ApiResponse«ComPage«CommonSearchResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/friendship/delete": {
      "post": {
        "tags": ["好友接口"],
        "summary": "删除好友",
        "operationId": "deleteUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "friendshipReq",
            "description": "friendshipReq",
            "required": true,
            "schema": { "$ref": "#/definitions/好友FriendshipReq", "originalRef": "好友FriendshipReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/friendship/detail": {
      "post": {
        "tags": ["好友接口"],
        "summary": "单聊会话，上部title",
        "operationId": "detailUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/FriendshipDetailReq", "originalRef": "FriendshipDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«FriendshipDetailResp»",
              "originalRef": "ApiResponse«FriendshipDetailResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/friendship/getIsFriend": {
      "post": {
        "tags": ["好友接口"],
        "summary": "是否已经是好友",
        "operationId": "getIsFriendUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/FriendshipDetailReq", "originalRef": "FriendshipDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«boolean»", "originalRef": "ApiResponse«boolean»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/friendship/getUserDetail": {
      "post": {
        "tags": ["好友接口"],
        "summary": "获取用户信息",
        "operationId": "getUserDetailUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/FriendshipDetailReq", "originalRef": "FriendshipDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«UserDetailResp»",
              "originalRef": "ApiResponse«UserDetailResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/friendship/modifyRemark": {
      "post": {
        "tags": ["好友接口"],
        "summary": "修改[不一定是好友关系]他人备注",
        "operationId": "modifyRemarkUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/修改备注ModifyfriendRemarkReq",
              "originalRef": "修改备注ModifyfriendRemarkReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/friendship/pageList": {
      "post": {
        "tags": ["好友接口"],
        "summary": "我的好友列表",
        "operationId": "pageListUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "pageReq",
            "description": "pageReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/好友列表查询FriendshipQueryReq",
              "originalRef": "好友列表查询FriendshipQueryReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«FriendshipResp»»",
              "originalRef": "ApiResponse«ComPage«FriendshipResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/friendship/setNoticeAndTop": {
      "post": {
        "tags": ["好友接口"],
        "summary": "是否通知和免打扰",
        "operationId": "setNoticeAndTopUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/好友FriendshipReq", "originalRef": "好友FriendshipReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/group/detail": {
      "post": {
        "tags": ["群接口"],
        "summary": "群信息详情",
        "operationId": "detailUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/群信息GroupDetailReq", "originalRef": "群信息GroupDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«群对象GroupDetailResp»",
              "originalRef": "ApiResponse«群对象GroupDetailResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/group/dissolve": {
      "post": {
        "tags": ["群接口"],
        "summary": "群主解散群[二期]",
        "operationId": "dissolveUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/群信息GroupDetailReq", "originalRef": "群信息GroupDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/group/groupSetting": {
      "post": {
        "tags": ["群接口"],
        "summary": "群设置",
        "operationId": "groupSettingUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/群设置[只能一个值不为Null]GroupSetReq",
              "originalRef": "群设置[只能一个值不为Null]GroupSetReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/group/modifyGroupName": {
      "post": {
        "tags": ["群接口"],
        "summary": "修改群名称",
        "operationId": "modifyGroupNameUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/修改群名称入参ModifyGroupNameReq",
              "originalRef": "修改群名称入参ModifyGroupNameReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/group/pageList": {
      "post": {
        "tags": ["群接口"],
        "summary": "分页获取群列表",
        "operationId": "pageListUsingPOST_4",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/群分页GroupPageListReq", "originalRef": "群分页GroupPageListReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«群对象GroupResp»»",
              "originalRef": "ApiResponse«ComPage«群对象GroupResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/group/save": {
      "post": {
        "tags": ["群接口"],
        "summary": "创建群",
        "operationId": "saveUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "groupSaveReq",
            "description": "groupSaveReq",
            "required": true,
            "schema": { "$ref": "#/definitions/创建更新对象GroupSaveReq", "originalRef": "创建更新对象GroupSaveReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«群对象GroupResp»",
              "originalRef": "ApiResponse«群对象GroupResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/group/transfer": {
      "post": {
        "tags": ["群接口"],
        "summary": "转让群[二期]",
        "operationId": "transferUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/GroupTransferReq", "originalRef": "GroupTransferReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/delete": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "管理员删除群成员",
        "operationId": "deleteUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/群成员删除GroupMemberDelReq",
              "originalRef": "群成员删除GroupMemberDelReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/deleteAdmin": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "删除群管理员",
        "operationId": "deleteAdminUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/群成员删除GroupMemberDelReq",
              "originalRef": "群成员删除GroupMemberDelReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/detail": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "我在本群信息详情",
        "operationId": "detailUsingPOST_4",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/群信息GroupDetailReq", "originalRef": "群信息GroupDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«群成员信息对象GroupMemberResp»",
              "originalRef": "ApiResponse«群成员信息对象GroupMemberResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/existInGroup": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "是否是群成员",
        "operationId": "existInGroupUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/群信息GroupDetailReq", "originalRef": "群信息GroupDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«boolean»", "originalRef": "ApiResponse«boolean»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/groupStatus": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "本群状态",
        "operationId": "groupStatusUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/群信息GroupDetailReq", "originalRef": "群信息GroupDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«MemberGroupStatusResp»",
              "originalRef": "ApiResponse«MemberGroupStatusResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/leaveGroup": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "退出群聊",
        "operationId": "leaveGroupUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/群成员删除GroupMemberDelReq",
              "originalRef": "群成员删除GroupMemberDelReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/listAdmin": {
      "get": {
        "tags": ["群成员接口"],
        "summary": "群管理员列表(含群主)",
        "operationId": "listAdminUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "imGroupId",
            "in": "query",
            "description": "群id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«群成员信息对象GroupMemberResp»»",
              "originalRef": "ApiResponse«List«群成员信息对象GroupMemberResp»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/modifyRemark": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "修改群成员在本群备注",
        "operationId": "modifyRemarkUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/修改备注ModifyRemarkGroupReq",
              "originalRef": "修改备注ModifyRemarkGroupReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/pageList": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "根据groupId分页查询成员列表",
        "operationId": "pageListUsingPOST_6",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "pageReq",
            "description": "pageReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/群成员分页GroupMemberPageReq",
              "originalRef": "群成员分页GroupMemberPageReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«群成员信息对象GroupMemberResp»»",
              "originalRef": "ApiResponse«ComPage«群成员信息对象GroupMemberResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/save": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "添加群成员（自动创建的部门群不能添加删除成员）",
        "operationId": "saveUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/群成员新增GroupMemberSaveReq",
              "originalRef": "群成员新增GroupMemberSaveReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/saveAdmin": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "添加群管理员",
        "operationId": "saveAdminUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/群成员新增GroupMemberSaveReq",
              "originalRef": "群成员新增GroupMemberSaveReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupMember/setNoticeAndTop": {
      "post": {
        "tags": ["群成员接口"],
        "summary": "是否通知和免打扰",
        "operationId": "setNoticeAndTopUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/群信息GroupDetailReq", "originalRef": "群信息GroupDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupf2f/enterGroup": {
      "post": {
        "tags": ["面对面建群[二期]"],
        "summary": "进入群聊",
        "operationId": "enterGroupUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/EnterGroupReq", "originalRef": "EnterGroupReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«long»", "originalRef": "ApiResponse«long»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupf2f/list": {
      "post": {
        "tags": ["面对面建群[二期]"],
        "summary": "获取列表",
        "operationId": "listUsingPOST_4",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/SaveRandomReq", "originalRef": "SaveRandomReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«GroupF2fUserListResp»»",
              "originalRef": "ApiResponse«List«GroupF2fUserListResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/groupf2f/saveRandom": {
      "post": {
        "tags": ["面对面建群[二期]"],
        "summary": "保存随机数",
        "operationId": "saveRandomUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/SaveRandomReq", "originalRef": "SaveRandomReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/login/doLogin": {
      "post": {
        "tags": ["登录接口"],
        "summary": "通用登录",
        "operationId": "doLoginUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/ComLoginReq", "originalRef": "ComLoginReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«登录响应实体»", "originalRef": "ApiResponse«登录响应实体»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/login/doLogout": {
      "get": {
        "tags": ["登录接口"],
        "summary": "退出登陆",
        "operationId": "doLogoutUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          { "name": "satoken", "in": "header", "description": "satoken", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/login/sendPhoneValidateCode": {
      "get": {
        "tags": ["登录接口"],
        "summary": "发送手机登录验证码",
        "operationId": "sendPhoneValidateCodeUsingGET",
        "produces": ["*/*"],
        "parameters": [{ "name": "phone", "in": "query", "description": "phone", "required": true, "type": "string" }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«string»", "originalRef": "ApiResponse«string»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/message/ack": {
      "post": {
        "tags": ["消息接口"],
        "summary": "确认收到消息",
        "operationId": "ackUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/消息ack", "originalRef": "消息ack" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«object»", "originalRef": "ApiResponse«object»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/message/clear": {
      "post": {
        "tags": ["消息接口"],
        "summary": "清除历史消息",
        "operationId": "clearUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/清空消息入参", "originalRef": "清空消息入参" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«object»", "originalRef": "ApiResponse«object»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/message/delete": {
      "post": {
        "tags": ["消息接口"],
        "summary": "消息删除",
        "operationId": "deleteUsingPOST_4",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/消息删除", "originalRef": "消息删除" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«object»", "originalRef": "ApiResponse«object»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/message/detail": {
      "post": {
        "tags": ["消息接口"],
        "summary": "消息详情",
        "operationId": "detailUsingPOST_6",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/消息详情-MessageDetailReq", "originalRef": "消息详情-MessageDetailReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«消息对象»", "originalRef": "ApiResponse«消息对象»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/message/history/pageList": {
      "post": {
        "tags": ["消息接口"],
        "summary": "分页查询历史消息",
        "operationId": "historyUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/历史消息-MessageHistoryReq",
              "originalRef": "历史消息-MessageHistoryReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«消息对象»»",
              "originalRef": "ApiResponse«ComPage«消息对象»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/message/search/pageList": {
      "post": {
        "tags": ["消息接口"],
        "summary": "分页搜索消息",
        "operationId": "searchUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/消息搜索实体", "originalRef": "消息搜索实体" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«消息对象»»",
              "originalRef": "ApiResponse«ComPage«消息对象»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/message/testSendMQ": {
      "post": {
        "tags": ["消息接口"],
        "summary": "[用户企业信息]获取用户(正常状态)租户信息列表",
        "operationId": "listTenantInfoUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "msg",
            "description": "msg",
            "required": true,
            "schema": { "$ref": "#/definitions/MessageSyncDTO", "originalRef": "MessageSyncDTO" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«object»", "originalRef": "ApiResponse«object»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/phone/list": {
      "post": {
        "tags": ["手机号"],
        "summary": "手机号列表",
        "operationId": "listUsingPOST_5",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/PhoneListReq", "originalRef": "PhoneListReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«PhoneFriendshipResp»»",
              "originalRef": "ApiResponse«List«PhoneFriendshipResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/qrcode/getImg": {
      "post": {
        "tags": ["二维码"],
        "summary": "获取/更新用户或群二维码(返回图片base64string)",
        "operationId": "getUrlUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "qrCodeReq",
            "description": "qrCodeReq",
            "required": true,
            "schema": { "$ref": "#/definitions/二维码", "originalRef": "二维码" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«string»", "originalRef": "ApiResponse«string»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/addFriend": {
      "post": {
        "tags": ["验证接口"],
        "summary": "添加好友申请",
        "operationId": "addFriendUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "addFriendReq",
            "description": "addFriendReq",
            "required": true,
            "schema": { "$ref": "#/definitions/添加好友AddFriendReq", "originalRef": "添加好友AddFriendReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/addGroup": {
      "post": {
        "tags": ["验证接口"],
        "summary": "入群申请",
        "operationId": "addGroupUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "addGroupReq",
            "description": "addGroupReq",
            "required": true,
            "schema": { "$ref": "#/definitions/入群请求AddGroupReq", "originalRef": "入群请求AddGroupReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«AddGroupResp»", "originalRef": "ApiResponse«AddGroupResp»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/approve": {
      "post": {
        "tags": ["验证接口"],
        "summary": "通过/拒绝",
        "operationId": "approveUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "approveReq",
            "description": "approveReq",
            "required": true,
            "schema": { "$ref": "#/definitions/通过/拒绝ApproveReq", "originalRef": "通过/拒绝ApproveReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/detail": {
      "get": {
        "tags": ["验证接口"],
        "summary": "验证消息详情",
        "operationId": "detailUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "name": "requestId",
            "in": "query",
            "description": "requestId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«验证消息详情RequestDetailResp»",
              "originalRef": "ApiResponse«验证消息详情RequestDetailResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/getUnreadAttr": {
      "post": {
        "tags": ["验证接口"],
        "summary": "获取未读标识(分页列表)",
        "operationId": "getUnreadAttrUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/GetUnreadPageReq", "originalRef": "GetUnreadPageReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«UnreadResp»»",
              "originalRef": "ApiResponse«List«UnreadResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/getUnreadCount": {
      "get": {
        "tags": ["验证接口"],
        "summary": "未读验证消息数量(通讯录页)",
        "operationId": "getUnreadCountUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "imUserId",
            "in": "query",
            "description": "im用户id",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«long»", "originalRef": "ApiResponse«long»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/invite": {
      "post": {
        "tags": ["验证接口"],
        "summary": "邀请入群",
        "operationId": "inviteUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/InviteToGroupReq", "originalRef": "InviteToGroupReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«邀请入群响应»", "originalRef": "ApiResponse«邀请入群响应»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/pageList": {
      "post": {
        "tags": ["验证接口"],
        "summary": "分页查询验证消息",
        "operationId": "pageListUsingPOST_8",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/请求消息列表RequestPageListReq",
              "originalRef": "请求消息列表RequestPageListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«验证消息分页RequestPageListResp»»",
              "originalRef": "ApiResponse«ComPage«验证消息分页RequestPageListResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/read": {
      "post": {
        "tags": ["验证接口"],
        "summary": "标识消息已读",
        "operationId": "readUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/请求消息读(包括验证及回复消息读)RequestReadReq",
              "originalRef": "请求消息读(包括验证及回复消息读)RequestReadReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/request/tryInvite": {
      "post": {
        "tags": ["验证接口"],
        "summary": "邀请入群预校验",
        "operationId": "tryInviteUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/InviteToGroupReq", "originalRef": "InviteToGroupReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«邀请入群响应»", "originalRef": "ApiResponse«邀请入群响应»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/requestMsg/save": {
      "post": {
        "tags": ["请求回复消息"],
        "summary": "请求回复消息保存",
        "operationId": "saveUsingPOST_4",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "requestMsgReq",
            "description": "requestMsgReq",
            "required": true,
            "schema": { "$ref": "#/definitions/RequestMsgReq对象", "originalRef": "RequestMsgReq对象" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/cancel": {
      "post": {
        "tags": ["消息用户接口"],
        "summary": "注销账号",
        "operationId": "cancelUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "cancelReq",
            "description": "cancelReq",
            "required": true,
            "schema": { "$ref": "#/definitions/UserCancelReq", "originalRef": "UserCancelReq" }
          },
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/getCancelSmsCode": {
      "get": {
        "tags": ["消息用户接口"],
        "summary": "获取注销账号短信验证码",
        "operationId": "getCancelSmsCodeUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "imUserId",
            "in": "query",
            "description": "im用户id",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/hasSelectTenant": {
      "get": {
        "tags": ["消息用户接口"],
        "summary": "当前channel下是否已经选择租户",
        "operationId": "hasSelectTenantUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«boolean»", "originalRef": "ApiResponse«boolean»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/listTenantInfo": {
      "get": {
        "tags": ["消息用户接口"],
        "summary": "获取用户(正常状态)租户信息列表",
        "operationId": "listTenantInfoUsingGET_1",
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          { "name": "satoken", "in": "header", "description": "satoken", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«租户信息»»",
              "originalRef": "ApiResponse«List«租户信息»»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/modifyAvatar": {
      "post": {
        "tags": ["消息用户接口"],
        "summary": "修改用户头像",
        "operationId": "modifyAvatarUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/修改用户头像", "originalRef": "修改用户头像" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«boolean»", "originalRef": "ApiResponse«boolean»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/modifyEmail": {
      "post": {
        "tags": ["消息用户接口"],
        "summary": "修改用户邮箱",
        "operationId": "modifyEmailUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/修改用户头像", "originalRef": "修改用户头像" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«boolean»", "originalRef": "ApiResponse«boolean»" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/personInfo": {
      "get": {
        "tags": ["消息用户接口"],
        "summary": "用户个人信息",
        "operationId": "personInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "name": "imUserId",
            "in": "query",
            "description": "im用户id(优先取imUserId)",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "isHidden",
            "in": "query",
            "description": "isHidden",
            "required": false,
            "type": "boolean",
            "default": false
          },
          { "name": "satoken", "in": "header", "description": "satoken", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«UserResp对象»", "originalRef": "ApiResponse«UserResp对象»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/queryAppVersion": {
      "get": {
        "tags": ["消息用户接口"],
        "summary": "查询版本类型",
        "operationId": "queryAppVersionUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "应用类型1:安卓 2：ios",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«QueryLastMessageResp»",
              "originalRef": "ApiResponse«QueryLastMessageResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/setDefaultEnterprise": {
      "post": {
        "tags": ["消息用户接口"],
        "summary": "切换/设置主企业",
        "operationId": "setDefaultEnterpriseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "header", "description": "channel", "required": true, "type": "string" },
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/设置默认企业", "originalRef": "设置默认企业" }
          },
          { "name": "satoken", "in": "header", "description": "satoken", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/setIsApprove": {
      "get": {
        "tags": ["消息用户接口"],
        "summary": "是否需要验证(添加我为好友)",
        "operationId": "setIsApproveUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "imUserId",
            "in": "query",
            "description": "im用户id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          { "name": "isApprove", "in": "query", "description": "isApprove", "required": true, "type": "boolean" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/setIsGroupApprove": {
      "get": {
        "tags": ["消息用户接口"],
        "summary": "设置邀请我加入外部群时是否需要确认",
        "operationId": "setIsGroupApproveUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "imUserId",
            "in": "query",
            "description": "im用户id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "isGroupApprove",
            "in": "query",
            "description": "setIsGroupApprove",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/setIsNotice": {
      "get": {
        "tags": ["消息用户接口"],
        "summary": "是否通知",
        "operationId": "setIsNoticeUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "imUserId",
            "in": "query",
            "description": "im用户id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          { "name": "isNotice", "in": "query", "description": "isNotice", "required": true, "type": "boolean" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/user/setRequestChannel": {
      "post": {
        "tags": ["消息用户接口"],
        "summary": "添加我为好友的方式",
        "operationId": "setRequestChannelUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": { "$ref": "#/definitions/添加我为好友的方式", "originalRef": "添加我为好友的方式" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse", "originalRef": "ApiResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/userAttention/remove": {
      "get": {
        "tags": ["特别关注接口"],
        "summary": "取消关注",
        "operationId": "removeUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "imUserId", "in": "query", "description": "im用户id(关注人id)", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«object»", "originalRef": "ApiResponse«object»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/api/userAttention/save": {
      "get": {
        "tags": ["特别关注接口"],
        "summary": "新增特别关注",
        "operationId": "saveUsingGET",
        "produces": ["*/*"],
        "parameters": [
          { "name": "imUserId", "in": "query", "description": "im用户id(关注人id)", "required": true, "type": "string" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ApiResponse«object»", "originalRef": "ApiResponse«object»" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/basePlatform/getEmployeeAllByUserAndTenant": {
      "post": {
        "tags": ["内部接口-使用租户中心"],
        "summary": "查询员工信息",
        "operationId": "getEmployeeAllByUserAndTenantUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "userTenantReq",
            "description": "userTenantReq",
            "required": true,
            "schema": { "$ref": "#/definitions/UserTenantReq", "originalRef": "UserTenantReq" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«EmployeeAllInfoResp»",
              "originalRef": "ApiResponse«EmployeeAllInfoResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/basePlatform/listDeptByParent": {
      "post": {
        "tags": ["内部接口-使用租户中心"],
        "summary": "查询当前部门及子部门信息",
        "operationId": "listDeptByParentUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "deptInfoReq",
            "description": "deptInfoReq",
            "required": true,
            "schema": { "$ref": "#/definitions/部门查询入参", "originalRef": "部门查询入参" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«DeptNoteResp»»",
              "originalRef": "ApiResponse«List«DeptNoteResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
      }
    },
    "/basePlatform/listTenantInfo": {
      "post": {
        "tags": ["内部接口-使用租户中心"],
        "summary": "查询租户列表信息",
        "operationId": "listTenantInfoUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          { "name": "channel", "in": "query", "description": "channel", "required": true, "type": "string" },
          {
            "name": "platformUserId",
            "in": "query",
            "description": "platformUserId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«租户信息»»",
              "originalRef": "ApiResponse«List«租户信息»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }]
[...]
