{
  "swagger": "2.0",
  "info": {
    "description": "种子项目接口文档",
    "version": "1.0",
    "title": "种子项目接口文档"
  },
  "host": "gatewaytest.wygtech.com:9080",
  "basePath": "/",
  "tags": [
    { "name": "test-controller", "x-order": "2147483647" },
    { "name": "个人客户管理", "x-order": "2147483647" },
    { "name": "人才商机 FeignController", "x-order": "2147483647" },
    { "name": "企业商机 FeignController", "x-order": "2147483647" },
    { "name": "企业客户 FeignController", "x-order": "2147483647" },
    { "name": "企业客户管理", "x-order": "2147483647" },
    { "name": "商机", "x-order": "2147483647" },
    { "name": "商机OpenAPI", "x-order": "2147483647" },
    { "name": "商机人才证书接口", "x-order": "2147483647" },
    { "name": "商机推荐（雷达）接口", "x-order": "2147483647" },
    { "name": "商机订阅规则", "x-order": "2147483647" },
    { "name": "商机跟进接口", "x-order": "2147483647" },
    { "name": "导入任务接口", "x-order": "2147483647" },
    { "name": "操作记录", "x-order": "2147483647" },
    { "name": "文件操作接口", "x-order": "2147483647" },
    { "name": "用户", "x-order": "2147483647" },
    { "name": "签约", "x-order": "2147483647" },
    { "name": "联系人操作接口", "x-order": "2147483647" },
    { "name": "配置", "x-order": "2147483647" },
    { "name": "项目商机 FeignController", "x-order": "2147483647" }
  ],
  "paths": {
    "/api/business/addBusinessEnterprise": {
      "post": {
        "tags": ["商机"],
        "summary": "新增企业商机",
        "operationId": "addBusinessEnterpriseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddBusinessEnterpriseReq",
              "originalRef": "AddBusinessEnterpriseReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«BusinessReceiveResp»",
              "originalRef": "ApiResponse«BusinessReceiveResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/business/addBusinessPerson": {
      "post": {
        "tags": ["商机"],
        "summary": "新增人才商机",
        "operationId": "addBusinessPersonUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddBusinessPersonReq",
              "originalRef": "AddBusinessPersonReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«BusinessReceiveResp»",
              "originalRef": "ApiResponse«BusinessReceiveResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/business/addBusinessProject": {
      "post": {
        "tags": ["商机"],
        "summary": "新增项目商机",
        "operationId": "addBusinessProjectUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddBusinessProjectReq",
              "originalRef": "AddBusinessProjectReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«BusinessReceiveResp»",
              "originalRef": "ApiResponse«BusinessReceiveResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/business/addSignBusinessEnterprise": {
      "post": {
        "tags": ["商机"],
        "summary": "新增企业商机(创建/领取/签约)",
        "operationId": "addSignBusinessEnterpriseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddSignBusinessEnterpriseReq",
              "originalRef": "AddSignBusinessEnterpriseReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«AddSignBusinessResp»",
              "originalRef": "ApiResponse«AddSignBusinessResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/business/addSignBusinessPerson": {
      "post": {
        "tags": ["商机"],
        "summary": "新增人才商机(创建/领取/签约)",
        "operationId": "addSignBusinessPersonUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddSignBusinessPersonReq",
              "originalRef": "AddSignBusinessPersonReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«AddSignBusinessResp»",
              "originalRef": "ApiResponse«AddSignBusinessResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/business/addSignBusinessProject": {
      "post": {
        "tags": ["商机"],
        "summary": "新增项目商机(创建/领取/签约)",
        "operationId": "addSignBusinessProjectUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddSignBusinessProjectReq",
              "originalRef": "AddSignBusinessProjectReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«AddSignBusinessResp»",
              "originalRef": "ApiResponse«AddSignBusinessResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/business/assignBusiness": {
      "post": {
        "tags": ["商机"],
        "summary": "分派商机",
        "operationId": "assignBusinessUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssignBusinessReq",
              "originalRef": "AssignBusinessReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«BusinessReceiveResp»",
              "originalRef": "ApiResponse«BusinessReceiveResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/business/editBusinessEnterprise": {
      "post": {
        "tags": ["商机"],
        "summary": "修改企业商机",
        "operationId": "editBusinessEnterpriseUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddBusinessEnterpriseReq",
              "originalRef": "AddBusinessEnterpriseReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/business/editBusinessPerson": {
      "post": {
        "tags": ["商机"],
        "summary": "修改人才商机",
        "operationId": "editBusinessPersonUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddBusinessPersonReq",
              "originalRef": "AddBusinessPersonReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/business/editBusinessProject": {
      "post": {
        "tags": ["商机"],
        "summary": "修改项目商机",
        "operationId": "editBusinessProjectUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddBusinessProjectReq",
              "originalRef": "AddBusinessProjectReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/business/enterprise/detail": {
      "post": {
        "tags": ["企业商机 FeignController"],
        "summary": "企业商机详情",
        "operationId": "detailUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "innerRpc",
            "description": "innerRpc",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InnerRpc«long»",
              "originalRef": "InnerRpc«long»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«企业商机详情 rpc response»",
              "originalRef": "ApiResponse«企业商机详情 rpc response»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/business/enterpriseInfo": {
      "get": {
        "tags": ["商机"],
        "summary": "企业商机详情",
        "operationId": "enterpriseInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "商机id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«BusinessEnterpriseInfoResp»",
              "originalRef": "ApiResponse«BusinessEnterpriseInfoResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/business/link": {
      "post": {
        "tags": ["商机"],
        "summary": "关联工商/人才库/项目库信息",
        "operationId": "linkUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/关联商机 Request",
              "originalRef": "关联商机 Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«关联商机 Response»",
              "originalRef": "ApiResponse«关联商机 Response»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/business/pageEnterprise/sampleList": {
      "post": {
        "tags": ["商机"],
        "summary": "企业商机列表(下拉框简单数据)",
        "operationId": "pageEnterpriseSampleListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/分页查询企业商机(简单数据)",
              "originalRef": "分页查询企业商机(简单数据)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«分页查询企业商机 response (简单数据)»»",
              "originalRef": "ApiResponse«ComPage«分页查询企业商机 response (简单数据)»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/business/pageEnterpriseBusinessPool": {
      "post": {
        "tags": ["商机"],
        "summary": "企业商机列表",
        "operationId": "pageEnterpriseBusinessPoolUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/分页查询企业商机公海",
              "originalRef": "分页查询企业商机公海"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«PageEnterpriseBusinessPoolResp»»",
              "originalRef": "ApiResponse«ComPage«PageEnterpriseBusinessPoolResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/business/pagePerson/sampleList": {
      "post": {
        "tags": ["商机"],
        "summary": "人才商机列表(下拉框简单数据)",
        "operationId": "pagePersonSampleListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/分页查询人才商机(简单数据)",
              "originalRef": "分页查询人才商机(简单数据)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«分页查询人才商机 response (简单数据)»»",
              "originalRef": "ApiResponse«ComPage«分页查询人才商机 response (简单数据)»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/business/pagePersonBusinessPool": {
      "post": {
        "tags": ["商机"],
        "summary": "人才商机列表",
        "operationId": "pagePersonBusinessPoolUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/分页查询人才商机公海",
              "originalRef": "分页查询人才商机公海"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«PagePersonBusinessPoolResp»»",
              "originalRef": "ApiResponse«ComPage«PagePersonBusinessPoolResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/business/pageProject/sampleList": {
      "post": {
        "tags": ["商机"],
        "summary": "项目商机列表(下拉框简单数据)",
        "operationId": "pageProjectSampleListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/分页查询项目商机(简单数据)",
              "originalRef": "分页查询项目商机(简单数据)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«分页查询项目商机 response (简单数据)»»",
              "originalRef": "ApiResponse«ComPage«分页查询项目商机 response (简单数据)»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/business/pageProjectBusinessPool": {
      "post": {
        "tags": ["商机"],
        "summary": "项目商机列表",
        "operationId": "pageProjectBusinessPoolUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/项目商机公海查询",
              "originalRef": "项目商机公海查询"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«PageProjectBusinessPoolResp»»",
              "originalRef": "ApiResponse«ComPage«PageProjectBusinessPoolResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/business/person/notifySign": {
      "get": {
        "tags": ["人才商机 FeignController"],
        "summary": "notifySign",
        "operationId": "notifySignUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignResultReq",
              "originalRef": "SignResultReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/business/personInfo": {
      "get": {
        "tags": ["商机"],
        "summary": "人才商机详情",
        "operationId": "personInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "商机id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«BusinessPersonInfoResp»",
              "originalRef": "ApiResponse«BusinessPersonInfoResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/business/project/add": {
      "post": {
        "tags": ["项目商机 FeignController"],
        "summary": "新增项目商机",
        "operationId": "addUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "innerRpc",
            "description": "innerRpc",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InnerRpc«新增项目商机 rpc 接口»",
              "originalRef": "InnerRpc«新增项目商机 rpc 接口»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/business/project/get": {
      "get": {
        "tags": ["项目商机 FeignController"],
        "summary": "项目商机详情",
        "operationId": "getUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "req.projectId",
            "in": "query",
            "description": "项目商机ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«项目商机详情 rpc response»",
              "originalRef": "ApiResponse«项目商机详情 rpc response»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/business/project/modified": {
      "post": {
        "tags": ["项目商机 FeignController"],
        "summary": "修改项目商机",
        "operationId": "modifiedUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/项目商机修改 rpc request",
              "originalRef": "项目商机修改 rpc request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/business/project/pageList": {
      "post": {
        "tags": ["项目商机 FeignController"],
        "summary": "分页查询项目商机",
        "operationId": "pageListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/项目商机分页查询 rpc request",
              "originalRef": "项目商机分页查询 rpc request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«项目商机详情 rpc response»»",
              "originalRef": "ApiResponse«ComPage«项目商机详情 rpc response»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/business/projectInfo": {
      "get": {
        "tags": ["商机"],
        "summary": "项目商机详情",
        "operationId": "projectInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "商机id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«BusinessProjectInfoResp»",
              "originalRef": "ApiResponse«BusinessProjectInfoResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/business/receiveBusiness": {
      "post": {
        "tags": ["商机"],
        "summary": "领取商机",
        "operationId": "receiveBusinessUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReceiveBusinessReq",
              "originalRef": "ReceiveBusinessReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«BusinessReceiveResp»",
              "originalRef": "ApiResponse«BusinessReceiveResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/business/verifyRepeatBusiness": {
      "post": {
        "tags": ["商机"],
        "summary": "校验重复商机",
        "operationId": "verifyRepeatBusinessUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifyRepeatBusinessReq",
              "originalRef": "VerifyRepeatBusinessReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«AddBusinessResp»",
              "originalRef": "ApiResponse«AddBusinessResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/businessCertificate/delete": {
      "post": {
        "tags": ["商机人才证书接口"],
        "summary": "删除人员证书",
        "operationId": "deleteUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteReq",
              "originalRef": "DeleteReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessContact/add": {
      "post": {
        "tags": ["联系人操作接口"],
        "summary": "添加联系人",
        "operationId": "addUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/添加联系人请求",
              "originalRef": "添加联系人请求"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/businessContact/deleteById": {
      "post": {
        "tags": ["联系人操作接口"],
        "summary": "删除联系人",
        "operationId": "deleteByIdUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelReq",
              "originalRef": "DelReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/businessContact/list": {
      "post": {
        "tags": ["联系人操作接口"],
        "summary": "联系人列表",
        "operationId": "listUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/联系人列表请求",
              "originalRef": "联系人列表请求"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«联系人列表»»",
              "originalRef": "ApiResponse«ComPage«联系人列表»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/businessFollow/employeeList": {
      "post": {
        "tags": ["商机跟进接口"],
        "summary": "员工列表",
        "operationId": "employeeListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/员工列表请求",
              "originalRef": "员工列表请求"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«EmployeeListResp»»",
              "originalRef": "ApiResponse«ComPage«EmployeeListResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessFollow/follow": {
      "post": {
        "tags": ["商机跟进接口"],
        "summary": "跟进",
        "operationId": "followUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FollowReq",
              "originalRef": "FollowReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessFollow/followAgain": {
      "post": {
        "tags": ["商机跟进接口"],
        "summary": "重新跟进",
        "operationId": "followAgainUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FollowAgainReq",
              "originalRef": "FollowAgainReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessFollow/giveUp": {
      "post": {
        "tags": ["商机跟进接口"],
        "summary": "不再跟进",
        "operationId": "giveUpUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/不再跟进",
              "originalRef": "不再跟进"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessFollow/list": {
      "post": {
        "tags": ["商机跟进接口"],
        "summary": "跟进记录",
        "operationId": "listUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "listReq",
            "description": "listReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/列表请求0",
              "originalRef": "列表请求0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«列表请求»»",
              "originalRef": "ApiResponse«ComPage«列表请求»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessFollow/transfer": {
      "post": {
        "tags": ["商机跟进接口"],
        "summary": "转让",
        "operationId": "transferUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/转让请求",
              "originalRef": "转让请求"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«boolean»",
              "originalRef": "ApiResponse«boolean»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessRecommend/pageEnterpriseBusiness": {
      "post": {
        "tags": ["商机推荐（雷达）接口"],
        "summary": "企业商机列表",
        "operationId": "pageEnterpriseBusinessUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/分页查询企业商机推荐",
              "originalRef": "分页查询企业商机推荐"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«PageEnterpriseBusinessPoolResp»»",
              "originalRef": "ApiResponse«ComPage«PageEnterpriseBusinessPoolResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessRecommend/pagePersonBusiness": {
      "post": {
        "tags": ["商机推荐（雷达）接口"],
        "summary": "人才商机列表",
        "operationId": "pagePersonBusinessUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/分页查询人才商机推荐",
              "originalRef": "分页查询人才商机推荐"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«PagePersonBusinessPoolResp»»",
              "originalRef": "ApiResponse«ComPage«PagePersonBusinessPoolResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessRecommend/pageProjectBusiness": {
      "post": {
        "tags": ["商机推荐（雷达）接口"],
        "summary": "项目商机列表",
        "operationId": "pageProjectBusinessUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/分页查询项目商机推荐",
              "originalRef": "分页查询项目商机推荐"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«PageProjectBusinessPoolResp»»",
              "originalRef": "ApiResponse«ComPage«PageProjectBusinessPoolResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/businessSubscribe/edit": {
      "post": {
        "tags": ["商机订阅规则"],
        "summary": "商机订阅规则编辑",
        "operationId": "editUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BusinessSubscribeInfoReq",
              "originalRef": "BusinessSubscribeInfoReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/businessSubscribe/info": {
      "get": {
        "tags": ["商机订阅规则"],
        "summary": "商机订阅规则详情",
        "operationId": "infoUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«BusinessSubscribeInfoResp»",
              "originalRef": "ApiResponse«BusinessSubscribeInfoResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/config/getPersonCertificateLabel": {
      "post": {
        "tags": ["配置"],
        "summary": "人才证书下拉框",
        "operationId": "getPersonCertificateLabelUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«Tree«string»»»",
              "originalRef": "ApiResponse«List«Tree«string»»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/config/getPersonTitleLabel": {
      "post": {
        "tags": ["配置"],
        "summary": "人才职称下拉框",
        "operationId": "getPersonTitleLabelUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«List«Tree«string»»»",
              "originalRef": "ApiResponse«List«Tree«string»»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/api/customer/enterprise/add": {
      "post": {
        "tags": ["企业客户管理"],
        "summary": "企业客户新增",
        "operationId": "addUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseAddReq",
            "description": "enterpriseAddReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerEnterpriseAddReq",
              "originalRef": "CustomerEnterpriseAddReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CustomerEnterpriseAddResp»",
              "originalRef": "ApiResponse«CustomerEnterpriseAddResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/enterprise/detail": {
      "get": {
        "tags": ["企业客户管理"],
        "summary": "企业客户详情",
        "operationId": "detailUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CustomerEnterpriseDetailResp»",
              "originalRef": "ApiResponse«CustomerEnterpriseDetailResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/enterprise/pageList": {
      "post": {
        "tags": ["企业客户管理"],
        "summary": "企业客户分页列表",
        "operationId": "pageListUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseReq",
            "description": "enterpriseReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PageCustomerEnterpriseReq",
              "originalRef": "PageCustomerEnterpriseReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«CustomerEnterpriseInfoResp»»",
              "originalRef": "ApiResponse«ComPage«CustomerEnterpriseInfoResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/enterprise/sampleList": {
      "post": {
        "tags": ["企业客户管理"],
        "summary": "搜索企业客户(下拉框数据)",
        "operationId": "sampleListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/搜索企业客户 request",
              "originalRef": "搜索企业客户 request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«搜索企业客户 response»»",
              "originalRef": "ApiResponse«ComPage«搜索企业客户 response»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/customer/enterprise/update": {
      "post": {
        "tags": ["企业客户管理"],
        "summary": "企业客户编辑",
        "operationId": "updateUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseUpReq",
            "description": "enterpriseUpReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerEnterpriseUpReq",
              "originalRef": "CustomerEnterpriseUpReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/person/add": {
      "post": {
        "tags": ["个人客户管理"],
        "summary": "个人客户新增",
        "operationId": "addUsingPOST_4",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "personAddReq",
            "description": "personAddReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerPersonAddReq",
              "originalRef": "CustomerPersonAddReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CustomerPersonAddResp»",
              "originalRef": "ApiResponse«CustomerPersonAddResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/person/addCertificate": {
      "post": {
        "tags": ["个人客户管理"],
        "summary": "新增执业资格证",
        "operationId": "addCertificateUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "personCertificateReq",
            "description": "personCertificateReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerPersonCertificateReq",
              "originalRef": "CustomerPersonCertificateReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/person/addTitle": {
      "post": {
        "tags": ["个人客户管理"],
        "summary": "新增职称",
        "operationId": "addTitleUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "personTitleReq",
            "description": "personTitleReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerPersonTitleReq",
              "originalRef": "CustomerPersonTitleReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/person/deleteCertificate": {
      "get": {
        "tags": ["个人客户管理"],
        "summary": "删除执业资格证",
        "operationId": "deleteCertificateUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/person/deleteTitle": {
      "get": {
        "tags": ["个人客户管理"],
        "summary": "删除职称",
        "operationId": "deleteTitleUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/person/detail": {
      "get": {
        "tags": ["个人客户管理"],
        "summary": "个人客户详情",
        "operationId": "detailUsingGET_1",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CustomerPersonDetailResp»",
              "originalRef": "ApiResponse«CustomerPersonDetailResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/person/pageList": {
      "post": {
        "tags": ["个人客户管理"],
        "summary": "个人客户分页列表",
        "operationId": "pageListUsingPOST_3",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "personReq",
            "description": "personReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PageCustomerPersonReq",
              "originalRef": "PageCustomerPersonReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«CustomerPersonInfoResp»»",
              "originalRef": "ApiResponse«ComPage«CustomerPersonInfoResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/customer/person/sampleList": {
      "post": {
        "tags": ["个人客户管理"],
        "summary": "搜索人才客户(下拉框数据)",
        "operationId": "sampleListUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/搜索人才客户 request",
              "originalRef": "搜索人才客户 request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«搜索人才客户 response»»",
              "originalRef": "ApiResponse«ComPage«搜索人才客户 response»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/customer/person/update": {
      "post": {
        "tags": ["个人客户管理"],
        "summary": "编辑个人客户",
        "operationId": "updateUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "personUpReq",
            "description": "personUpReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerPersonUpReq",
              "originalRef": "CustomerPersonUpReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/file/uploadFile": {
      "post": {
        "tags": ["文件操作接口"],
        "summary": "上传文件",
        "operationId": "uploadFileUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "relId",
            "in": "query",
            "description": "业务id",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int64"
          },
          {
            "name": "relType",
            "in": "query",
            "description": "业务类型 1：跟进(放的是商机id) 2：excel导入 3:模板文件",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«上传文件返回»",
              "originalRef": "ApiResponse«上传文件返回»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/importTask/importExcel": {
      "post": {
        "tags": ["导入任务接口"],
        "summary": "导入excel文件操作",
        "operationId": "importExcelUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "taskType",
            "in": "query",
            "description": "业务类型 1:企业商机 2:人才商机 3:项目商机 4:企业客户 5:个人客户",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«读入文件响应»",
              "originalRef": "ApiResponse«读入文件响应»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/importTask/importList": {
      "post": {
        "tags": ["导入任务接口"],
        "summary": "查询导入列表",
        "operationId": "importListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/导入列表请求",
              "originalRef": "导入列表请求"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«导入列表响应»»",
              "originalRef": "ApiResponse«ComPage«导入列表响应»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xukai",
        "x-order": "2147483647"
      }
    },
    "/api/operateLog/pageList": {
      "post": {
        "tags": ["操作记录"],
        "summary": "分页查询",
        "operationId": "pageListUsingPOST_4",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/操作日志分页 request",
              "originalRef": "操作日志分页 request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«操作日志分页 response»»",
              "originalRef": "ApiResponse«ComPage«操作日志分页 response»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/signing/pageList": {
      "post": {
        "tags": ["签约"],
        "summary": "签约记录",
        "operationId": "pageListUsingPOST_5",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/签约记录分页 request",
              "originalRef": "签约记录分页 request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«签约记录分页 response»»",
              "originalRef": "ApiResponse«ComPage«签约记录分页 response»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/signing/remove": {
      "post": {
        "tags": ["签约"],
        "summary": "解除关联",
        "operationId": "removeUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/解除签约 request",
              "originalRef": "解除签约 request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«Void»",
              "originalRef": "ApiResponse«Void»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/signing/save": {
      "post": {
        "tags": ["签约"],
        "summary": "新增签约",
        "operationId": "saveUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/签约Request",
              "originalRef": "签约Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«签约结果 response»",
              "originalRef": "ApiResponse«签约结果 response»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "tengfei",
        "x-order": "2147483647"
      }
    },
    "/api/test/check": {
      "get": {
        "tags": ["test-controller"],
        "summary": "check",
        "operationId": "checkUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«object»",
              "originalRef": "ApiResponse«object»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/test/get": {
      "get": {
        "tags": ["test-controller"],
        "summary": "get",
        "operationId": "getUsingGET_1",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "channel",
            "in": "header",
            "description": "channel",
            "required": false,
            "type": "string"
          },
          {
            "name": "input",
            "in": "query",
            "description": "input",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«object»",
              "originalRef": "ApiResponse«object»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/test/getCustomer": {
      "get": {
        "tags": ["test-controller"],
        "summary": "getCustomer",
        "operationId": "getCustomerUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«object»",
              "originalRef": "ApiResponse«object»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/test/getEnterprise": {
      "get": {
        "tags": ["test-controller"],
        "summary": "getEnterprise",
        "operationId": "getEnterpriseUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«object»",
              "originalRef": "ApiResponse«object»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/test/insert": {
      "get": {
        "tags": ["test-controller"],
        "summary": "insert",
        "operationId": "insertUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse",
              "originalRef": "ApiResponse"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/test/login": {
      "get": {
        "tags": ["test-controller"],
        "summary": "login",
        "operationId": "loginUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«object»",
              "originalRef": "ApiResponse«object»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/test/post": {
      "post": {
        "tags": ["test-controller"],
        "summary": "post",
        "operationId": "postUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "dto",
            "description": "dto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostDTO",
              "originalRef": "PostDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«object»",
              "originalRef": "ApiResponse«object»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/test/sent": {
      "post": {
        "tags": ["test-controller"],
        "summary": "sent",
        "operationId": "sentUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "map",
            "description": "map",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": { "type": "object" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«object»",
              "originalRef": "ApiResponse«object»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/test/subscribeBusiness": {
      "get": {
        "tags": ["test-controller"],
        "summary": "subscribeBusiness",
        "operationId": "subscribeBusinessUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«string»",
              "originalRef": "ApiResponse«string»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/api/user/getEmployeeInfo": {
      "get": {
        "tags": ["用户"],
        "summary": "获取员工信息",
        "operationId": "linkUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«EmployeeResp»",
              "originalRef": "ApiResponse«EmployeeResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-author": "xhj",
        "x-order": "2147483647"
      }
    },
    "/inner/customer/enterprise/add": {
      "post": {
        "tags": ["企业客户 FeignController"],
        "summary": "add",
        "operationId": "addUsingPOST_3",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InnerRpc«CustomerEnterpriseAddReq»",
              "originalRef": "InnerRpc«CustomerEnterpriseAddReq»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CustomerEnterpriseAddResp»",
              "originalRef": "ApiResponse«CustomerEnterpriseAddResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/inner/customer/enterprise/contact/pageList": {
      "post": {
        "tags": ["企业客户 FeignController"],
        "summary": "contactPageList",
        "operationId": "contactPageListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "innerRpc",
            "description": "innerRpc",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InnerRpc«PageContactReq»",
              "originalRef": "InnerRpc«PageContactReq»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«联系人列表»»",
              "originalRef": "ApiResponse«ComPage«联系人列表»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/inner/customer/enterprise/detail": {
      "post": {
        "tags": ["企业客户 FeignController"],
        "summary": "detail",
        "operationId": "detailUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InnerRpc«long»",
              "originalRef": "InnerRpc«long»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CustomerEnterpriseDetailResp»",
              "originalRef": "ApiResponse«CustomerEnterpriseDetailResp»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/inner/customer/enterprise/pageList": {
      "post": {
        "tags": ["企业客户 FeignController"],
        "summary": "pageList",
        "operationId": "pageListUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InnerRpc«PageCustomerEnterpriseReq»",
              "originalRef": "InnerRpc«PageCustomerEnterpriseReq»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ComPage«CustomerEnterpriseInfoResp»»",
              "originalRef": "ApiResponse«ComPage«CustomerEnterpriseInfoResp»»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/inner/customer/enterprise/update": {
      "post": {
        "tags": ["企业客户 FeignController"],
        "summary": "update",
        "operationId": "updateUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InnerRpc«CustomerEnterpriseUpReq»",
              "originalRef": "InnerRpc«CustomerEnterpriseUpReq»"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«long»",
              "originalRef": "ApiResponse«long»"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    },
    "/openapi/business/project/signInfo": {
      "get": {
        "tags": ["商机OpenAPI"],
        "summary": "项目商机签约详情",
        "operationId": "projectSignInfoUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "signId",
            "in": "query",
            "description": "signId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ProjectSignInfoResp»",
              "originalRef": "ApiResponse«ProjectSignInfoResp»"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "satoken": ["global"] }],
        "x-order": "2147483647"
      }
    }
  },
  "securityDefinitions": {
    "satoken": { "type": "apiKey", "name": "satoken", "in": "header" }
  },
  "definitions": {
    "AddBusinessEnterpriseReq": {
      "type": "object",
      "required": ["enterpriseName"],
      "properties": {
        "addr": {
          "type": "string",
          "description": "企业地址",
          "minLength": 0,
          "maxLength": 100
        },
        "area": { "type": "string", "description": "区县" },
        "businessSource": {
          "type": "string",
          "enum": [
            "ADVANCED_SEARCH",
            "BIGDATA_SEARCH",
            "CREATE",
            "MINI_PROGRAM",
            "RADAR"
          ]
        },
        "businessType": {
          "type": "string",
          "description": "商机类型 ENTERPRISE PERSON PROJECT"
        },
        "categoryName": { "type": "string", "description": "所属行业" },
        "city": { "type": "string", "description": "城市" },
        "coordinate": { "type": "string", "description": "坐标" },
        "corporateName": {
          "type": "string",
          "description": "法人名称",
          "minLength": 0,
          "maxLength": 20
        },
        "country": { "type": "string", "description": "国家" },
        "createId": { "type": "integer", "format": "int64" },
        "createName": { "type": "string" },
        "createSource": {
          "type": "string",
          "description": "创建来源 我的:myself 公海:open_sea 客户:customer"
        },
        "created": { "type": "string", "format": "date-time" },
        "enableSaveOrUpdate": { "type": "boolean" },
        "enterpriseCode": {
          "type": "string",
          "description": "企业信用代码",
          "minLength": 0,
          "maxLength": 18
        },
        "enterpriseName": {
          "type": "string",
          "description": "企业名称",
          "minLength": 0,
          "maxLength": 50
        },
        "enterpriseStatus": { "type": "string", "description": "企业状态" },
        "establishmentTime": {
          "type": "string",
          "format": "date-time",
          "description": "成立时间"
        },
        "id": { "type": "integer", "format": "int64" },
        "isDelete": { "type": "integer", "format": "int64" },
        "lat": { "type": "string", "description": "纬度" },
        "licenseId": { "type": "string", "description": "工商信息id" },
        "lng": { "type": "string", "description": "经度" },
        "modified": { "type": "string", "format": "date-time" },
        "phone": {
          "type": "string",
          "description": "联系电话",
          "minLength": 0,
          "maxLength": 16
        },
        "province": { "type": "string", "description": "省份" },
        "regPersonCnt": {
          "type": "integer",
          "format": "int64",
          "description": "注册人员数",
          "minimum": 0,
          "maximum": 99999999,
          "exclusiveMinimum": false,
          "exclusiveMaximum": false
        },
        "registeredCapital": {
          "type": "integer",
          "format": "int64",
          "description": "注册资本(单位元)",
          "minimum": 0,
          "maximum": 999999999999,
          "exclusiveMinimum": false,
          "exclusiveMaximum": false
        },
        "skAchievementCnt": {
          "type": "integer",
          "format": "int64",
          "description": "四库业绩数",
          "minimum": 0,
          "maximum": 99999999,
          "exclusiveMinimum": false,
          "exclusiveMaximum": false
        },
        "skQualificationCnt": {
          "type": "integer",
          "format": "int64",
          "description": "四库资质数",
          "minimum": 0,
          "maximum": 99999999,
          "exclusiveMinimum": false,
          "exclusiveMaximum": false
        },
        "step": {
          "type": "integer",
          "format": "int32",
          "description": "步骤   1需要验证  2直接新增"
        },
        "thirdId": {
          "type": "integer",
          "format": "int64",
          "description": "三方id"
        },
        "type": {
          "type": "string",
          "enum": ["ENTERPRISE", "PERSON", "PROJECT"]
        },
        "updateId": { "type": "integer", "format": "int64" },
        "updateName": { "type": "string" }
      },
      "title": "AddBusinessEnterpriseReq"
    },
    "AddBusinessPersonCertificateReq": {
      "type": "object",
      "properties": {
        "id": { "type": "integer", "format": "int64" },
        "major": { "type": "string", "description": "证书专业" },
        "name": { "type": "string", "description": "证书名称" }
      },
      "title": "AddBusinessPersonCertificateReq"
    },
    "AddBusinessPersonReq": {
      "type": "object",
      "properties": {
        "achievementCnt": {
          "type": "integer",
          "format": "int64",
          "description": "个人业绩",
          "minimum": 0,
          "maximum": 99999999,
          "exclusiveMinimum": false,
          "exclusiveMaximum": false
        },
        "addr": {
          "type": "string",
          "description": "地址",
          "minLength": 0,
          "maxLength": 100
        },
        "area": { "type": "string", "description": "区县" },
        "badBehaviorCnt": {
          "type": "integer",
          "format": "int64",
          "description": "不良行为数",
          "minimum": 0,
          "maximum": 99999999,
          "exclusiveMinimum": false,
          "exclusiveMaximum": false
        },
        "blacklistRecordCnt": {
          "type": "integer",
          "format": "int64",
          "description": "黑名单数",
          "minimum": 0,
          "maximum": 99999999,
          "exclusiveMinimum": false,
          "exclusiveMaximum": false
        },
        "businessSource": {
          "type": "string",
          "enum": [
            "ADVANCED_SEARCH",
            "BIGDATA_SEARCH",
            "CREATE",
            "MINI_PROGRAM",
            "RADAR"
          ]
        },
        "businessType": {
          "type": "string",
          "description": "商机类型 ENTERPRISE PERSON PROJECT"
        },
        "certificateList": {
          "type": "array",
          "description": "执业资格证列表",
          "items": {
            "$ref": "#/definitions/AddBusinessPersonCertificateReq",
            "originalRef": "AddBusinessPersonCertificateReq"
          }
        },
        "city": { "type": "string", "description": "城市" },
        "coordinate": { "type": "string", "description": "坐标" },
        "country": { "type": "string", "description": "国家" },
        "createId": { "type": "integer", "format": "int64" },
        "createName": { "type": "string" },
        "createSource": {
          "type": "string",
          "description": "创建来源 我的:myself 公海:open_sea 客户:customer"
        },
        "created": { "type": "string", "format": "date-time" },
        "education": { "type": "string", "description": "学历" },
        "enableSaveOrUpdate": { "type": "boolean" },
        "gender": { "type": "string", "description": "性别 男 male 女 female" },
        "goodBehaviorCnt": {
          "type": "integer",
          "format": "int64",
          "description": "良好行为数",
          "minimum": 0,
          "maximum": 99999999,
          "exclusiveMinimum": false,
          "exclusiveMaximum": false
        },
        "id": { "type": "integer", "format": "int64" },
        "isDelete": { "type": "integer", "format": "int64" },
        "lat": { "type": "string", "description": "纬度" },
        "licenseId": { "type": "string", "description": "工商信息id" },
        "lng": { "type": "string", "description": "经度" },
        "modified": { "type": "string", "format": "date-time" },
        "personName": {
          "type": "string",
          "description": "人才名称",
          "minLength": 0,
          "maxLength": 20
        },
        "personnelRisk": {
          "type": "integer",
          "format": "int32",
          "description": "人员风险  0无风险 1有风险"
        },
        "phone": {
          "type": "string",
          "description": "手机号",
          "minLength": 0,
          "maxLength": 16
        },
        "province": { "type": "string", "description": "省份" },
        "skCertificateCnt": {
          "type": "integer",
          "format": "int64",
          "description": "四库证书数",
          "minimum": 0,
          "maximum": 99999999,
          "exclusiveMinimum": false,
          "exclusiveMaximum": false
        },
        "step": {
          "type": "integer",
          "format": "int32",
          "description": "步骤   1需要验证  2直接新增"
        },
        "thirdId": {
          "type": "integer",
          "format": "int64",
          "description": "三方id"
        },
        "titleList": {
          "type": "array",
          "description": "职称列表",
          "items": {
            "$ref": "#/definitions/AddBusinessPersonTitleReq",
            "originalRef": "AddBusinessPersonTitleReq"
          }
        },
        "type": {
          "type": "string",
          "enum": ["ENTERPRISE", "PERSON", "PROJECT"]
        },
        "updateId": { "type": "integer", "format": "int64" },
        "updateName": { "type": "string" }
      },
      "title": "AddBusinessPersonReq"
    },
    "AddBusinessPersonTitleReq": {
      "type": "object",
      "properties": {
        "id": { "type": "integer", "format": "int64" },
        "level": { "type": "string", "description": "职称级别" },
        "major": { "type": "string", "description": "职称专业" }
      },
      "title": "AddBusinessPersonTitleReq"
    },
    "AddBusinessProjectReq": {
      "type": "object",
      "properties": {
        "agencies": {
          "type": "string",
          "description": "代理机构",
          "minLength": 0,
          "maxLength": 100
        },
        "agenciesAddr": {
          "type": "string",
          "description": "代理机构地址",
          "minLength": 0,
          "maxLength": 100
        },
        "agenciesAddrCoordinate": {
          "type": "string",
          "description": "代理机构地址坐标"
        },
        "agenciesAddrLat": {
          "type": "string",
          "description": "招标单位地址纬度"
        },
        "agenciesAddrLng": {
          "type": "string",
          "description": "招标单位地址经度"
        },
        "agenciesArea": { "type": "string", "description": "代理机构区县" },
        "agenciesCity": { "type": "string", "description": "代理机构城市" },
        "agenciesCountry": { "type": "string", "description": "代理机构国家" },
        "agenciesPhone": {
          "type": "string",
          "description": "代理机构电话",
          "minLength": 0,
          "maxLength": 16
        },
        "agenciesProvince": { "type": "string", "description": "代理机构省份" },
        "biddingCorpAddr": {
          "type": "string",
          "description": "招标单位地址",
          "minLength": 0,
          "maxLength": 100
        },
        "biddingCorpAddrCoordinate": {
          "type": "string",
          "description": "招标单位地址坐标"
        },
        "biddingCorpAddrLat": {
          "type": "string",
          "description": "招标单位地址纬度"
        },
        "biddingCorpAddrLng": {
          "type": "string",
          "description": "招标单位地址经度"
        },
        "biddingCorpArea": { "type": "string", "description": "招标单位区县" },
[...]
